Repository SPLURT-Station/S.P.L.U.R.T-tg, pull requests merged in 2025-06, with the labels that each got.

#410 PLUSHIES!!! *woop
  modular_zzplurt/code/game/objects/items/plushes.dm
  modular_zzplurt/code/modules/client/loadout/toys.dm
  modular_zzplurt/icons/obj/plushes.dmi
Labels: Sprites, Code

#411 Fixing few errors in loadout items
  modular_zzplurt/code/modules/clothing/under/uniform.dm
Labels: Code

#422 Makes some edits to agevet
  modular_zzplurt/code/controllers/subsystem/maturity.dm
Labels: Code

#421 "Arcane Library" & "Dragon Cave Lair" New Infinidorm Rooms
  _maps/splurt/templates/apartment_dragonslair.dmm
  _maps/splurt/templates/apartment_fortuneteller.dmm
  _maps/splurt/templates/apartment_skyscraper.dmm
  modular_zzplurt/code/modules/hilbertshotel/hotel_room_templates.dm
Labels: Code, Map Edit

#434 [ADMIN] Player Panel improvements and runtime fixes | Added Admin Ticket Statistics Panel
  .gitignore
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_zzplurt/code/controllers/subsystem/maturity.dm
  modular_zzplurt/code/modules/admin/admin_ticket_stats_panel.dm
  modular_zzplurt/code/modules/admin/player_panel.dm
  modular_zzplurt/code/modules/lewd/pain.dm
  modular_zzplurt/code/modules/loadout/loadout_items.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AdminTicketStats.tsx
  tgui/packages/tgui/interfaces/PlayerPanel.tsx
Labels: Code, TGUI, Administration

#443 Mountainside Infdorm Template
  _maps/splurt/templates/apartment_mountainside.dmm
  modular_zzplurt/code/controllers/subsystem/hilbertshotel.dm
  modular_zzplurt/code/modules/hilbertshotel/hotel_room_templates.dm
  modular_zzplurt/icons/obj/medieval/background_mountainside.dmi
Labels: Sprites, Code, Map Edit
