Repository SPLURT-Station/S.P.L.U.R.T-tg, pull requests merged in 2025-01, with the labels that each got.

#75 [UPSTREAM UPDATE] 07.01.2025
  .github/labeler.yml
  code/game/machinery/dance_machine.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/silicon/silicon.dm
  html/changelogs/archive/2025-01.yml
  modular_zubbers/code/modules/cargo/packs/service.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_marking_gloss.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/synth_joints.dm
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair_gradients.dm
  modular_zubbers/icons/customization/body_markings/glossy.dmi
  modular_zubbers/icons/customization/body_markings/markings.dmi
  modular_zubbers/icons/customization/body_markings/synth_joints.dmi
  modular_zubbers/icons/customization/hair_gradients.dmi
  modular_zubbers/icons/mob/body_markings/markings.dmi
  tgstation.dme
Labels: Sprites, Code, DME Edit, Github

#60 [UI] Splurt-Themed UI Update and Server Adjustments
  config/splurt/splurt_title.txt
  interface/skin.dmf
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  modular_zubbers/code/__DEFINES/send2relay.dm
  modular_zzplurt/icons/UI_Icons/common/splurt_32.png
  modular_zzplurt/icons/UI_Icons/common/splurt_64.png
  modular_zzplurt/icons/UI_Icons/title_screen/splurt_title_screen.png
Labels: Code, Requires Config Change, Image

#77 [UPSTREAM UPDATE] 7.1.2024
  _maps/map_files/biodome/biodome.dmm
  html/changelogs/archive/2025-01.yml
  modular_zubbers/code/datums/quirks/negative_quirks/nearsighted.dm
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/icons/obj/items_and_weapons.dmi
  tgstation.dme
Labels: Sprites, Code, Map Edit

#78 Remove Saliith plushie and pinpointer definitions from the codebase
  modular_zzplurt/code/modules/client/loadout/pockets.dm
  modular_zzplurt/code/modules/modular_items/misc/plushies.dm
  tgstation.dme
Labels: Code

#79 [UPSTREAM UPDATE] 9.1.2025
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/moonstation/moonstation.dmm
  code/controllers/subsystem/explosions.dm
  code/datums/components/acid.dm
  code/datums/components/burning.dm
  code/datums/components/food/decomposition.dm
  code/datums/proximity_monitor/fields/gravity.dm
  code/datums/status_effects/debuffs/cursed.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/datums/status_effects/debuffs/slime/slime_food.dm
  code/datums/status_effects/debuffs/slime/slimed.dm
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/shared_particle_holder.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/structures/fireplace.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/clothing/head/mind_monkey_helmet.dm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/food_and_drinks/machinery/oven.dm
  code/modules/food_and_drinks/machinery/stove_component.dm
  code/modules/hydroponics/beekeeping/bee_smoker.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/power/lighting/light.dm
  html/changelogs/archive/2025-01.yml
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
  modular_zubbers/code/modules/antagonists/heretic/heretic.dm
  modular_zubbers/code/modules/clothing/head/helmet.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/code/modules/vending/multisec.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  tgstation.dme
Labels: Sprites, Code, Map Edit

#74 Erp interaction menu
  modular_skyrat/modules/interaction_menu/code/interaction_component.dm
  modular_zzplurt/code/datums/elements/holder_micro.dm
  modular_zzplurt/code/modules/client/preferences/_preference.dm
  modular_zzplurt/code/modules/client/preferences/abstract/blob.dm
  modular_zzplurt/code/modules/client/preferences/favorite_interactions.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interaction_datum.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/belly.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/lewd_helpers/human.dm
  modular_zzplurt/code/modules/surgery/organs/genitals/belly.dm
  modular_zzplurt/code/modules/surgery/organs/genitals/butt.dm
  modular_zzplurt/code/modules/surgery/organs/genitals/genitals.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/MobInteraction/InfoSection.tsx
  tgui/packages/tgui/interfaces/MobInteraction/MainContent.tsx
  tgui/packages/tgui/interfaces/MobInteraction/index.tsx
  tgui/packages/tgui/interfaces/MobInteraction/tabs/CharacterPrefsTab.tsx
  tgui/packages/tgui/interfaces/MobInteraction/tabs/ContentPreferencesTab.tsx
  tgui/packages/tgui/interfaces/MobInteraction/tabs/GenitalTab.tsx
  tgui/packages/tgui/interfaces/MobInteraction/tabs/InteractionsTab.tsx
  tgui/packages/tgui/interfaces/MobInteraction/tabs/LewdItemsTab.tsx
  tgui/packages/tgui/interfaces/MobInteraction/tabs/index.tsx
Labels: Code, DME Edit, TGUI

#81 [UPSTREAM UPDATE] 10.1.2025
  SQL/bubber_schema.sql
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  _maps/map_files/biodome/biodome.dmm
  _maps/map_files/moonstation/moonstation.dmm
  code/modules/paperwork/fax.dm
  html/changelogs/AutoChangeLog-pr-2850.yml
  html/changelogs/archive/2025-01.yml
  modular_skyrat/modules/reagent_forging/code/crafting_bench_recipes.dm
  modular_skyrat/modules/reagent_forging/code/forge_clothing.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor_processing.dm
  modular_zubbers/code/modules/clothing/shoes/boots.dm
  modular_zubbers/code/modules/loadout/categories/shoes.dm
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
Labels: Code, TGUI, Map Edit, SQL

#82 adjustments
  modular_zzplurt/code/datums/quirks/positive_quirks/restorative_metabolism.dm
  modular_zzplurt/code/datums/quirks/positive_quirks/vacuum_resistance.dm
Labels: Code

#85 More interaction related fixes
  code/__DEFINES/~~~splurt_defines/DNA.dm
  code/__DEFINES/~~~splurt_defines/inventory.dm
  config/splurt/fetish_content.txt
  icons/obj/service/janitor.dmi
  modular_skyrat/master_files/code/modules/client/preferences/body_size.dm
  modular_zzplurt/code/controllers/configuration/entries/fetish_content.dm
  modular_zzplurt/code/datums/dna.dm
  modular_zzplurt/code/modules/client/preferences/body_size.dm
  modular_zzplurt/code/modules/lewd_chemistry/reagents/dopamine.dm
  modular_zzplurt/code/modules/lewd_chemistry/reagents/rutt.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_zzplurt/code/modules/reagents/chemistry/recipes/drugs.dm
  modular_zzplurt/code/modules/sprite_accessories/genitals.dm
  modular_zzplurt/code/modules/surgery/organs/genitals/belly.dm
  modular_zzplurt/code/modules/surgery/organs/genitals/butt.dm
  tgstation.dme
Labels: Sprites, Code, Requires Config Change

#90 [UPSTREAM UPDATE] 14.1.2025
  code/_globalvars/lists/ambience.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/mob/dead/new_player/login.dm
  html/changelogs/archive/2025-01.yml
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_zubbers/code/modules/clothing/suits/jacket.dm
  modular_zubbers/code/modules/loadout/categories/suit.dm
  modular_zubbers/code/modules/vending/wardrobe.dm
  modular_zubbers/icons/mob/clothing/suits/jacket.dmi
  modular_zubbers/icons/obj/clothing/jacket.dmi
  modular_zubbers/icons/obj/clothing/suits/jacket.dmi
  modular_zubbers/sound/ambiance/bangle-freezer.ogg
Labels: Sprites, Code, Sound

#93 Fixes wallets not showing their ID
  modular_zzplurt/code/modules/clothing/storage/wallets.dm
Labels: Code

#86 [PORT] Custom emote panel
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  modular_zzplurt/code/modules/tgui_custom_emote_panel/emote_preference.dm
  modular_zzplurt/code/modules/tgui_custom_emote_panel/topic.dm
  tgstation.dme
  tgui/packages/tgui-panel/Panel.tsx
  tgui/packages/tgui-panel/emotes/EmotesToolbar.tsx
  tgui/packages/tgui-panel/emotes/actions.ts
  tgui/packages/tgui-panel/emotes/hooks.ts
  tgui/packages/tgui-panel/emotes/index.ts
  tgui/packages/tgui-panel/emotes/model.ts
  tgui/packages/tgui-panel/emotes/reducer.ts
  tgui/packages/tgui-panel/emotes/selectors.ts
  tgui/packages/tgui-panel/index.tsx
  tools/build/build.js
Labels: Tools, Code, TGUI

#99 Quick fix - adds a join menu icon to the blacksmith role
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: TGUI

#91 Extra fixes requested by players
  code/__DEFINES/~~~splurt_defines/fonts.dm
  code/controllers/subsystem/processing/quirks.dm
  code/modules/emoji/emoji_parse.dm
  code/modules/modular_computers/file_system/programs/emojipedia.dm
  code/modules/unit_tests/verify_emoji_names.dm
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_zubbers/code/datums/components/vore/vore.dm
  modular_zzplurt/code/datums/quirks/positive_quirks/bloodfledge.dm
  modular_zzplurt/code/modules/asset_cache/assets/chat.dm
  modular_zzplurt/code/modules/asset_cache/assets/emojipedia.dm
  modular_zzplurt/code/modules/client/preferences/verbs.dm
  modular_zzplurt/icons/emoji.dmi
  modular_zzplurt/icons/emoji_32.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/erp_preferences.tsx
Labels: Sprites, Code, TGUI

#88 [READY] Re-enables the body morpher quirk
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_zzplurt/code/datums/quirks/neutral_quirks/body_morpher.dm
Labels: Code

#100 [UPSTREAM UPDATE] 19.1.2025
  code/game/objects/items/storage/medkit.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  code/modules/vending/clothesmate.dm
  html/changelogs/archive/2025-01.yml
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/storage/medkit.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_skyrat/modules/borgs/icons/tallrobot_cargo.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_eng.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_med.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_pk.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_serv.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/kahraman_equipment/code/clothing/clothing.dm
  modular_zubbers/code/game/Items/storage/medkit.dm
  modular_zubbers/code/modules/clothing/head/hats.dm
  modular_zubbers/code/modules/clothing/neck_wearing.dm
  modular_zubbers/code/modules/clothing/shoes/boots.dm
  modular_zubbers/code/modules/clothing/shoes/clown.dm
  modular_zubbers/code/modules/loadout/categories/heads.dm
  modular_zubbers/code/modules/loadout/categories/under.dm
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/tallrobot_sci.dmi
  modular_zubbers/code/modules/storyteller/storytellers/data/_track.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_0_extended.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_1_chill.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_2_fragile.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_3_default.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_4_bomb.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_5_gamer.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_6_clown.dm
  modular_zubbers/icons/customization/body_markings/glossy.dmi
  modular_zubbers/icons/customization/hair.dmi
  modular_zubbers/icons/mob/clothing/feet/feet_digi.dmi
  modular_zubbers/icons/mob/clothing/head/hats.dmi
  modular_zubbers/icons/obj/clothing/head/hats.dmi
  modular_zubbers/icons/obj/storage/medkit.dmi
  tgstation.dme
Labels: Sprites, Code, Image

#97 Fixed Razorclaw Damage... again
  modular_skyrat/modules/implants/code/augments_arms.dm
Labels: Code

#102 [UPSTREAM UPDATE] 20.1.2025
  code/__DEFINES/~skyrat_defines/events.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  html/changelogs/archive/2025-01.yml
  modular_skyrat/master_files/code/controllers/subsystem/events.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/rnd.dm
  modular_skyrat/master_files/code/modules/events/_event.dm
  modular_skyrat/modules/autotransfer/code/shuttle.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/death_consequences_perk/death_consequences_trauma.dm
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
  modular_skyrat/modules/ices_events/code/ICES_intensity_credits.dm
  modular_skyrat/modules/ices_events/code/ICES_procs.dm
  modular_skyrat/modules/ices_events/code/ICES_seclevel.dm
  modular_skyrat/modules/ices_events/code/ICES_tgui.dm
  modular_skyrat/modules/ices_events/code/_ICES_globalvars.dm
  modular_skyrat/modules/ices_events/code/effects/ef_foam.dm
  modular_skyrat/modules/ices_events/code/events/ev_meteors.dm
  modular_skyrat/modules/ices_events/code/events/ev_roleplay_check.dm
  modular_skyrat/modules/ices_events/code/events/ev_scrubbers.dm
  modular_skyrat/modules/ices_events/readme.md
  modular_skyrat/modules/mold/code/mold_event.dm
  modular_skyrat/modules/officestuff/code/officestuff.dm
  modular_skyrat/modules/tarkon/code/clothing/mod.dm
  modular_zubbers/code/modules/events/ev_roleplay_check.dm
  modular_zubbers/code/modules/events/meteor_wave.dm
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/mundane/scrubber_overrides.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/IntensityCredits.tsx
Labels: Code, TGUI

#98 Adds cumflation mechanics
  code/__DEFINES/~~~splurt_defines/genitals.dm
  modular_skyrat/modules/interaction_menu/code/interaction_component.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/arousal.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/pain.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/pleasure.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/status_effects/aroused.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/status_effects/climax.dm
  modular_zzplurt/code/modules/client/preferences/erp_preferences.dm
  modular_zzplurt/code/modules/client/preferences/genitals.dm
  modular_zzplurt/code/modules/lewd/interaction_component/interaction_component.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interaction_datum.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/harmful/earfuck.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/MobInteraction/tabs/ContentPreferencesTab.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/splurt/genitals.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/splurt/erp_preferences.tsx
Labels: Code, TGUI

#73 Loadout Char.Creation Things
  modular_zzplurt/code/modules/clothing/head/hats.dm
  modular_zzplurt/code/modules/clothing/shoes/shoes.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/32x64ears.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/64x32horns.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/64x32tails.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/64x32wings.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/ears.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/frills.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/hair_head.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/horns.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/ipc_antennas.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/markings.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/neck_fluff.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/snouts.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/tails.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/taur.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/wings.dm
  modular_zzplurt/code/modules/modular_items/misc/plushies.dm
  modular_zzplurt/icons/mob/clothing/hats.dmi
  modular_zzplurt/icons/mob/clothing/shoes.dmi
  modular_zzplurt/icons/mob/clothing/shoes_digi.dmi
  modular_zzplurt/icons/mob/sprite_accessories/32x64_mam_ears.dmi
  modular_zzplurt/icons/mob/sprite_accessories/64x32_mam_tails.dmi
  modular_zzplurt/icons/mob/sprite_accessories/64x32_mutant_bodyparts.dmi
  modular_zzplurt/icons/mob/sprite_accessories/64x32_wings.dmi
  modular_zzplurt/icons/mob/sprite_accessories/hair.dmi
  modular_zzplurt/icons/mob/sprite_accessories/ipc_antennas.dmi
  modular_zzplurt/icons/mob/sprite_accessories/mam_ears.dmi
  modular_zzplurt/icons/mob/sprite_accessories/mam_snouts.dmi
  modular_zzplurt/icons/mob/sprite_accessories/mam_tails.dmi
  modular_zzplurt/icons/mob/sprite_accessories/mam_taur.dmi
  modular_zzplurt/icons/mob/sprite_accessories/markings_primary.dmi
  modular_zzplurt/icons/mob/sprite_accessories/markings_secondary.dmi
  modular_zzplurt/icons/mob/sprite_accessories/markings_tertiary.dmi
  modular_zzplurt/icons/mob/sprite_accessories/mutant_bodyparts.dmi
  modular_zzplurt/icons/mob/sprite_accessories/neck_fluff.dmi
  modular_zzplurt/icons/mob/sprite_accessories/synthliz_snouts.dmi
  modular_zzplurt/icons/mob/sprite_accessories/tail.dmi
  modular_zzplurt/icons/mob/sprite_accessories/wings.dmi
  tgstation.dme
Labels: Sprites, Code

#104 [FIX] Remove barricade rotation verb
  modular_skyrat/modules/barricades/code/barricade.dm
  modular_skyrat/modules/inflatables/code/inflatable.dm
Labels: Code

#105 [UPSTREAM UPDATE] 25.1.2025
  code/__DEFINES/mobs.dm
  code/__HELPERS/randoms.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/storage/garment.dm
  code/modules/mob/living/basic/slime/actions.dm
  code/modules/mob/living/basic/slime/slime.dm
  code/modules/vehicles/mecha/combat/durand.dm
  code/modules/vehicles/mecha/combat/gygax.dm
  code/modules/vehicles/mecha/combat/honker.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
  html/changelogs/archive/2025-01.yml
  modular_skyrat/master_files/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
  modular_skyrat/master_files/code/modules/mob/basic/alien/_alien.dm
  modular_skyrat/master_files/code/modules/mob/basic/alien/drone.dm
  modular_skyrat/master_files/code/modules/mob/basic/alien/queen.dm
  modular_skyrat/master_files/code/modules/mob/basic/alien/sentinel.dm
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_skyrat/modules/borgs/icons/tallrobot_med.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_mine.dmi
  modular_skyrat/modules/borgs/icons/tallrobot_serv.dmi
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  modular_skyrat/modules/records_on_examine/code/examine.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/drone.dm
  modular_zubbers/code/game/objects/effects/decals/cleanable.dm
  modular_zubbers/code/game/traits/neutral.dm
  modular_zubbers/code/modules/languages/empathy.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/synth_joints.dm
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories.dm
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_1_chill.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_2_fragile.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_3_default.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_5_gamer.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_6_clown.dm
  modular_zubbers/code/modules/vending/comdrobe.dm
  modular_zubbers/code/modules/vending/multisec.dm
  modular_zubbers/icons/customization/body_markings/synth_joints.dmi
  modular_zubbers/icons/customization/hair.dmi
  modular_zubbers/icons/mob/species/human/humanface.dmi
  tgstation.dme
Labels: Sprites, Code
