Repository SPLURT-Station/S.P.L.U.R.T-tg, pull requests merged in 2025-03, with the labels that each got.

#188 Remove meteor pens from maints loot
  modular_zubbers/code/_globalvars/lists/maintenance_loot_one_of_a_kind.dm
Labels: Code

#171 Adds coo, whine, hiss and meow4 emotes
  modular_zzplurt/code/datums/emotes.dm
  modular_zzplurt/code/modules/mob/living/emote.dm
  modular_zzplurt/sound/voice/catpeople/cat_hiss1.ogg
  modular_zzplurt/sound/voice/catpeople/cat_hiss2.ogg
  modular_zzplurt/sound/voice/catpeople/cat_hiss3.ogg
  modular_zzplurt/sound/voice/catpeople/cat_meow4.ogg
  modular_zzplurt/sound/voice/catpeople/cat_meow5.ogg
  modular_zzplurt/sound/voice/catpeople/cat_meow6.ogg
  modular_zzplurt/sound/voice/catpeople/cat_meow7.ogg
  tgstation.dme
Labels: Code, Sound

#170 Serenity II Shuttle(s)
  _maps/shuttles/zzplurt/ruin_luxury_splurt_cargo.dmm
  _maps/shuttles/zzplurt/ruin_luxury_splurt_dorm.dmm
  modular_zzplurt/code/datums/ruins/space.dm
  modular_zzplurt/code/datums/shuttles/ruin.dm
  modular_zzplurt/code/game/objects/items/circuitboards/computer_circuitboards.dm
  modular_zzplurt/code/modules/shuttle/serenity2.dm
  tgstation.dme
Labels: Code, Map Edit, Mapping

#208 Dresses 2, the redress
  modular_zzplurt/code/datums/greyscale/json_configs/wench.json
  modular_zzplurt/icons/mob/clothing/uniform.dmi
  modular_zzplurt/icons/obj/clothing/uniforms.dmi
Labels: Sprites

#211 Makes the Nanotrasen Representative Admin-Only
  modular_zzplurt/code/modules/jobs/job_types/nanotrasen_consultant.dm
  tgstation.dme
Labels: Code

#193 fixes screaming from modular limbs
  modular_zzplurt/code/datums/quirks/neutral_quirks/modularlimbs.dm
Labels: Code

#214 Removes duplicate GWTB outfit from loadout, updates the newer ones, and supply crate as bonus
  modular_zzplurt/code/modules/cargo/packs/costumes_toys.dm
  modular_zzplurt/code/modules/cargo/packs/imports.dm
  modular_zzplurt/code/modules/client/loadout/head.dm
  modular_zzplurt/code/modules/client/loadout/suit.dm
  modular_zzplurt/code/modules/client/loadout/under.dm
  modular_zzplurt/code/modules/clothing/head/helmets.dm
  modular_zzplurt/code/modules/clothing/masks/gasmask.dm
  modular_zzplurt/code/modules/clothing/suits/armor.dm
  modular_zzplurt/code/modules/clothing/under/uniform.dm
  modular_zzplurt/code/modules/vending/clothmate.dm
  tgstation.dme
Labels: Code

#168 Misc playtest fixes pt2
  code/__DEFINES/~~~splurt_defines/traits/declarations.dm
  code/__DEFINES/~~~splurt_defines/traits/sources.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/jobs/job_types/_job.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  modular_zzplurt/code/datums/quirks/neutral_quirks/trashcan.dm
  modular_zzplurt/code/datums/quirks/positive_quirks/quick_step.dm
  modular_zzplurt/code/game/objects/items/storage/backpack.dm
  modular_zzplurt/code/modules/barks/bark_list.dm
  modular_zzplurt/code/modules/client/loadout/shoes.dm
  modular_zzplurt/code/modules/client/loadout/under.dm
  modular_zzplurt/code/modules/client/preferences/clothing.dm
  modular_zzplurt/code/modules/clothing/shoes/shoes.dm
  modular_zzplurt/code/modules/clothing/under/uniform.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  modular_zzplurt/code/modules/reagents/chemistry/reagents/food_reagents.dm
  modular_zzplurt/code/modules/sprite_accessories/64x32horns.dm
  modular_zzplurt/code/modules/thirst/mob_mood.dm
  modular_zzplurt/icons/mob/actions/actions_slime.dmi
  modular_zzplurt/icons/mob/clothing/64_back.dmi
  modular_zzplurt/icons/mob/effects/slime.dmi
  modular_zzplurt/sound/effects/changed_transfur.ogg
  tgstation.dme
  tgstation_unit_test_focus_file.dm
Labels: Sprites, Code, Sound

#114 Genital respritings
  code/__DEFINES/~~~splurt_defines/DNA.dm
  code/_onclick/hud/hud.dm
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/penis_onmob.dmi
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  modular_zzplurt/code/_onclick/hud/hud.dm
  modular_zzplurt/code/modules/client/verbs/character_directory.dm
  modular_zzplurt/code/modules/lewd/interaction_component/interaction_component.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/breasts.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/finger.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/handjob.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/portal_panties/portal_feet.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/portal_panties/portal_fuck.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/portal_panties/portal_hand.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/portal_panties/portal_oral.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/self/breasts.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/self/finger.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/self/jack.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/unholy/fart.dm
  modular_zzplurt/code/modules/lewd/lewd_items/portal_fleshlight/portal_fleshlight.dm
  modular_zzplurt/code/modules/sprite_accessories/genitals.dm
  modular_zzplurt/icons/mob/sprite_accessories/genitals/breasts_onmob.dmi
  modular_zzplurt/icons/mob/sprite_accessories/genitals/penis_onmob.dmi
  modular_zzplurt/icons/mob/sprite_accessories/genitals/testicles_onmob.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/ZubbersCharacterDirectory.jsx
Labels: Sprites, Code, TGUI, Test Merged

#219 Makes extended storyteller always available
  modular_zzplurt/code/modules/storyteller/storytellers/tellers/storyteller_0_extended.dm
Labels: Code

#221 Ports some fixes and edits
  code/__DEFINES/~~~splurt_defines/preferences.dm
  code/__DEFINES/~~~splurt_defines/span.dm
  code/__DEFINES/~~~splurt_defines/thirst.dm
  code/game/objects/effects/anomalies/anomalies_bioscrambler.dm
  code/modules/art/paintings.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  modular_skyrat/modules/interaction_menu/code/interaction_datum.dm
  modular_skyrat/modules/modular_implants/code/nifsoft_catalog.dm
  modular_skyrat/modules/tagline/code/world.dm
  modular_zubbers/icons/space/space.dmi
  modular_zzplurt/code/datums/quirks/negative_quirks/gifted.dm
  modular_zzplurt/code/datums/quirks/negative_quirks/thirsty.dm
  modular_zzplurt/code/datums/quirks/neutral_quirks/storage_concealment.dm
  modular_zzplurt/code/datums/quirks/neutral_quirks/undead.dm
  modular_zzplurt/code/datums/quirks/positive_quirks/hallowed.dm
  modular_zzplurt/code/modules/loadout/loadout_items.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/physiology.dm
  modular_zzplurt/code/modules/thirst/reagents.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Sprites, Code, TGUI

#223 Ash Drake offering's clearer purpose
  modular_zzplurt/code/game/objects/items/food/meatslab.dm
  tgstation.dme
Labels: Code

#222 Adds pain and malaysia emotes
  modular_zzplurt/code/modules/mob/living/emote.dm
  modular_zzplurt/sound/voice/human_female_pain_1.ogg
  modular_zzplurt/sound/voice/human_female_pain_2.ogg
  modular_zzplurt/sound/voice/human_female_pain_3.ogg
  modular_zzplurt/sound/voice/human_female_scream_2.ogg
  modular_zzplurt/sound/voice/human_female_scream_3.ogg
  modular_zzplurt/sound/voice/human_female_scream_4.ogg
  modular_zzplurt/sound/voice/human_male_pain_1.ogg
  modular_zzplurt/sound/voice/human_male_pain_2.ogg
  modular_zzplurt/sound/voice/human_male_pain_3.ogg
  modular_zzplurt/sound/voice/human_male_pain_rare.ogg
  modular_zzplurt/sound/voice/human_male_scream_1.ogg
  modular_zzplurt/sound/voice/human_male_scream_2.ogg
  modular_zzplurt/sound/voice/human_male_scream_3.ogg
  modular_zzplurt/sound/voice/human_male_scream_4.ogg
  modular_zzplurt/sound/voice/malaysia.ogg
Labels: Code, Sound

#236 Clothesplosion no longer drops straightjackets or facehuggers
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  modular_zzplurt/code/modules/mob/living/carbon/carbon.dm
Labels: Code

#239 Fixes HEV suit actions
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
Labels: Code

#237 Armored Harness
  modular_zzplurt/code/datums/components/crafting/tailoring.dm
  modular_zzplurt/code/modules/client/loadout/suit.dm
  modular_zzplurt/code/modules/clothing/suits/armor.dm
  modular_zzplurt/code/modules/vending/multisec.dm
  tgstation.dme
Labels: Code

#226 Fixes from the upstream merge (and updates)
  code/__DEFINES/~~~splurt_defines/hud.dm
  code/controllers/subsystem/ticker.dm
  code/modules/antagonists/spy/spy.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/mob/living/carbon/examine.dm
  config/splurt/game_options.txt
  html/changelogs/archive/2025-03.yml
  icons/mob/human/human_face.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/GAGS/icons/suit.dmi
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/inflatables/code/inflatable.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
  modular_skyrat/modules/modular_weapons/code/gunsets.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/outfits.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  modular_zubbers/code/datums/components/vore/vore.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/feed.dm
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/frills.dm
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/code/modules/mob/living/silicon/robot/robot.dm
  modular_zubbers/code/modules/security/security_glock/lockers.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
  modular_zubbers/code/modules/vending/clothmate.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
  modular_zubbers/icons/customization/ears.dmi
  modular_zubbers/icons/customization/frills.dmi
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/mob/sprite_accesory/wings.dmi
  modular_zubbers/maps/offstation/dauntless/mob_spawns.dm
  modular_zzplurt/code/datums/components/vore/vore.dm
  modular_zzplurt/code/modules/admin/player_panel.dm
  strings/antagonist_flavor/spy_objective.json
  tgstation.dme
  tgui/packages/tgui/interfaces/Colormate.jsx
  tgui/packages/tgui/interfaces/ExperimentConfigure.jsx
  tgui/packages/tgui/interfaces/MicrofusionGunControl.jsx
  tgui/packages/tgui/interfaces/SurgeryInitiator.tsx
  tgui/packages/tgui/interfaces/Techweb/Overview.tsx
Labels: Sprites, Code, Requires Config Change, TGUI, Administration

#246 fixed missed inheritance with modular limbs quirk changes
  modular_zzplurt/code/datums/quirks/neutral_quirks/modularlimbs.dm
Labels: Code

#247 [UPSTREAM UPDATE] 25.3.2025
  code/__DEFINES/overlays.dm
  code/modules/mob/living/carbon/human/death.dm
  html/changelogs/AutoChangeLog-pr-2122.yml
  html/changelogs/AutoChangeLog-pr-3372.yml
  html/changelogs/AutoChangeLog-pr-3381.yml
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species/akula.dm
  modular_zubbers/code/modules/rr_opt_in/examine.dm
  modular_zubbers/code/modules/rr_opt_in/readme.md
  modular_zubbers/code/modules/rr_opt_in/rr_opt_config.dm
  modular_zubbers/code/modules/rr_opt_in/rr_optin_preferences.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubber/round_remove.tsx
Labels: Code, TGUI

#253 Temporarily Removes Space Dragon From Rotation
  code/modules/events/ghost_role/space_dragon.dm
  modular_skyrat/modules/oneclickantag/code/oneclickantag.dm
Labels: Code

#238 Bloodfledge initial patch
  code/modules/mob/living/blood.dm
  modular_zzplurt/code/datums/quirks/positive_quirks/bloodfledge.dm
Labels: Code

#260 [UPSTREAM UPDATE] 29.3.2025
  _maps/map_files/BoxStation/BoxStation.dmm
  code/__DEFINES/dcs/signals/signals_tgui.dm
  code/__DEFINES/~~~splurt_defines/traits/declarations.dm
  code/_onclick/hud/map_popups.dm
  code/_onclick/hud/map_view.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/records/medical.dm
  code/game/machinery/computer/records/records.dm
  code/game/machinery/computer/records/security.dm
  code/modules/admin/view_variables/color_matrix_editor.dm
  code/modules/antagonists/changeling/powers/mmi_talk.dm
  code/modules/awaymissions/gateway.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/blood.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_paint.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  code/modules/tgui/tgui_window.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  config/bubbers/bubbers_config.txt
  config/bubbers/storyteller.txt
  config/config.txt
  html/changelogs/AutoChangeLog-pr-3355.yml
  html/changelogs/archive/2025-03.yml
  modular_skyrat/modules/barsigns/code/barsigns.dm
  modular_skyrat/modules/barsigns/icons/barsigns.dmi
  modular_skyrat/modules/emotes/code/laugh_datums.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_areas.dm
  modular_skyrat/modules/mapping/code/areas/centcom.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/seamless_clothes.dm
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/storyteller/config.dm
  modular_zubbers/icons/obj/toys/plushes.dmi
  modular_zubbers/sound/mobs/humanoids/vox/credit.txt
  modular_zubbers/sound/mobs/humanoids/vox/vox_laugh.ogg
  tgstation.dme
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/interfaces/MedicalRecords/RecordTabs.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordTabs.tsx
Labels: Sprites, Code, Requires Config Change, TGUI, Map Edit, Sound, Administration
