Repository SPLURT-Station/S.P.L.U.R.T-tg, pull requests merged in 2025-08, with the labels that each got.

#471 Refurbishes Derelict Tradepost Ruin
  _maps/RandomRuins/SpaceRuins/splurt/bigderelict1.dmm
  modular_zzplurt/code/datums/ruins/space.dm
  modular_zzplurt/code/game/area/areas/ruins/bigderelict1.dm
  modular_zzplurt/code/modules/fluff/bigderelict1_2/notes.dm
  modular_zzplurt/code/modules/mob_spawn/corpses/nanotrasen.dm
  modular_zzplurt/icons/mob/clothing/head.dmi
  modular_zzplurt/icons/mob/clothing/under/security.dmi
  modular_zzplurt/icons/obj/clothing/head.dmi
  modular_zzplurt/icons/obj/clothing/under/security.dmi
  tgstation.dme
Labels: Sprites, Code, Map Edit, Mapping

#483 Adds animated fox tails from Nova
  modular_zzplurt/code/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_zzplurt/icons/mob/sprite_accessories/tail.dmi
  tgstation.dme
Labels: Sprites, Code

#480 The unatomic sprite pr 2: revengeance
  icons/map_icons/clothing/shoes.dmi
  icons/map_icons/clothing/suit/_suit.dmi
  modular_zzplurt/code/datums/greyscale/json_configs/hightops.json
  modular_zzplurt/code/datums/greyscale/json_configs/loose_jersey.json
  modular_zzplurt/code/datums/greyscale/json_configs/loose_sweater.json
  modular_zzplurt/code/modules/client/loadout/shoes.dm
  modular_zzplurt/code/modules/client/loadout/suit.dm
  modular_zzplurt/code/modules/clothing/shoes/shoes.dm
  modular_zzplurt/code/modules/clothing/suits/misc.dm
  modular_zzplurt/code/modules/sprite_accessories/horns.dm
  modular_zzplurt/code/modules/sprite_accessories/markings.dm
  modular_zzplurt/code/modules/sprite_accessories/neck_fluff.dm
  modular_zzplurt/code/modules/sprite_accessories/snouts.dm
  modular_zzplurt/icons/mob/clothing/head.dmi
  modular_zzplurt/icons/mob/clothing/shoes.dmi
  modular_zzplurt/icons/mob/clothing/shoes_digi.dmi
  modular_zzplurt/icons/mob/clothing/suit.dmi
  modular_zzplurt/icons/mob/sprite_accessories/horns_large.dmi
  modular_zzplurt/icons/mob/sprite_accessories/mam_snouts.dmi
  modular_zzplurt/icons/mob/sprite_accessories/markings_secondary.dmi
  modular_zzplurt/icons/mob/sprite_accessories/neck_fluff.dmi
  modular_zzplurt/icons/obj/clothing/head.dmi
  modular_zzplurt/icons/obj/clothing/shoes.dmi
  modular_zzplurt/icons/obj/clothing/suits.dmi
Labels: Sprites, Code

#494 Loadout Edit - Blovy
  modular_zubbers/code/modules/loadout/categories/~donator/donator_personal.dm
Labels: Code

#498 [MODULAR] Disable Stowaway job
  modular_zzplurt/code/modules/jobs/job_types/stowaway.dm
  tgstation.dme
Labels: Code, Test Merge Candidate

#500 [UPSTREAM UPDATE] 11.8.2025
  _maps/map_files/Blueshift/Blueshift.dmm
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/__DEFINES/~~bubber_defines/jobs.dm
  code/__DEFINES/~~bubber_defines/machines.dm
  code/__HELPERS/time.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/ticker.dm
  code/datums/sprite_accessories.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  config/bubbers/bubbers_config.txt
  html/changelogs/bubber_archive/2025-08.yml
  modular_skyrat/modules/SEVA_suit/code/seva_obj.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/customization/modules/surgery/organs/moth_antennae.dm
  modular_skyrat/modules/delam_emergency_stop/code/admin_scram.dm
  modular_skyrat/modules/delam_emergency_stop/code/scram.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_effect.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/venom_milker.dm
  modular_skyrat/modules/paycheck_rations/code/tickets.dm
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
  modular_zubbers/code/controllers/configuration/entries/game_options.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/aphrodisiacal_bite/aphrodisiacal_bite.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/aphrodisiacal_bite/aphrodisiacal_bite_quirk.dm
  modular_zubbers/code/datums/quirks/positive_quirks/venomous_bite/venomous_bite.dm
  modular_zubbers/code/datums/quirks/positive_quirks/venomous_bite/venomous_bite_quirk.dm
  modular_zubbers/code/game/objects/structures/flags/signs_flags.dm
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/moth_antennae.dm
  modular_zubbers/code/modules/customization/sprite_accessories/tails64x32.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/code/modules/languages/common.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/mothmen.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/podpeople.dm
  modular_zubbers/code/modules/paperwork/fax.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/heretic.dm
  modular_zubbers/code/modules/synths/code/surgery/robot_brain_surgery.dm
  modular_zubbers/icons/customization/ears.dmi
  modular_zubbers/icons/customization/shark_tails64x32.dmi
  modular_zubbers/icons/customization/tails64x32.dmi
  modular_zubbers/icons/customization/taur.dmi
  modular_zubbers/icons/mob/actions/quirks/aphrodisiacal_bite.dmi
  modular_zubbers/icons/mob/sprite_accesory/moth_antennae.dmi
  modular_zubbers/icons/mob/sprite_accesory/moth_wings.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/SpeciesPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/aphrodisiacal_bite.tsx
Labels: Sprites, Code, Requires Config Change, TGUI, Map Edit

#511 Adds explorer suit harness
  modular_zzplurt/code/modules/clothing/suits/armor.dm
  modular_zzplurt/code/modules/mining/voucher_sets.dm
  tgstation.dme
Labels: Code

#528 Adds Synth deer taur option
  modular_zubbers/code/modules/mob/dead/new_player/sprite_accessories/synthetic.dm
  modular_zzplurt/code/modules/mob/dead/new_player/sprite_accessories/synthetic.dm
  tgstation.dme
Labels: Code
