Repository SPLURT-Station/S.P.L.U.R.T-tg, pull requests merged in 2025-07, with the labels that each got.

#449 Infdorm Delootification + Minor fixes
  _maps/splurt/templates/apartment_3.dmm
  _maps/splurt/templates/apartment_donator_zak_dnd_house.dmm
  modular_skyrat/modules/hotel_rooms/corporateoffice.dmm
  modular_skyrat/modules/hotel_rooms/cultcave.dmm
  modular_skyrat/modules/hotel_rooms/eva.dmm
  modular_skyrat/modules/hotel_rooms/evacuationstation.dmm
  modular_skyrat/modules/hotel_rooms/library.dmm
  modular_skyrat/modules/hotel_rooms/nightclub.dmm
  modular_skyrat/modules/hotel_rooms/prisoninfdorm.dmm
  modular_skyrat/modules/hotel_rooms/recovery.dmm
  modular_skyrat/modules/hotel_rooms/stationside.dmm
  modular_skyrat/modules/hotel_rooms/winterwoods.dmm
Labels: Map Edit

#456 Minor Fixes For High Frequency Blade
  code/game/objects/items/weaponry.dm
  modular_zzplurt/code/game/objects/items/hfrequencyblade.dm
  tgstation.dme
Labels: Code, Test Merge Candidate

#468 [SPRITE FIX] Splurt taur bodies' genitals fix
  modular_zzplurt/code/modules/sprite_accessories/taur.dm
Labels: Code

#477 Fix interaction menu
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  tgui/packages/tgui/interfaces/MobInteraction/tabs/InteractionsTab.tsx
Labels: Code, TGUI
