Repository SPLURT-Station/S.P.L.U.R.T-tg, pull requests merged in 2025-05, with the labels that each got.

#336 [UPSTREAM UPDATE] 1.5.2025
  code/__DEFINES/~~bubber_defines/vehicles.dm
  code/_onclick/hud/hud.dm
  code/datums/components/riding/riding_mob.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  code/modules/loadout/loadout_helpers.dm
  config/skyrat/skyrat_config.txt
  html/changelogs/AutoChangeLog-bubber-pr-3635.yml
  html/changelogs/AutoChangeLog-bubber-pr-3682.yml
  html/changelogs/bubber_archive/2025-04.yml
  html/changelogs/bubber_archive/2025-05.yml
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
  modular_skyrat/master_files/code/modules/clothing/suits/skinsuits.dm
  modular_skyrat/master_files/code/modules/clothing/under/akula_jobs.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
  modular_skyrat/modules/cargo/code/export_gate.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/hypnogoggles.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
  modular_skyrat/modules/mutants/code/mutant_cure.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_skyrat/modules/stasisrework/code/stasissleeper.dm
  modular_zubbers/code/_onclick/hud/screen_objects/hud_timer.dm
  modular_zubbers/code/datums/components/datums/riding_mob.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/entombed.dm
  modular_zubbers/code/game/machinery/syndiepad.dm
  modular_zubbers/code/modules/nanites/nanite_programs/suppression.dm
  modular_zubbers/code/modules/nanites/nanite_programs/utility.dm
  modular_zubbers/code/modules/nanites/program_designs.dm
  modular_zubbers/code/modules/ratqueen/regalrat.dm
  modular_zubbers/master_files/code/modules/entombed_quirk/code/entombed_alt_actions.dm
  modular_zubbers/master_files/code/modules/entombed_quirk/code/entombed_mod.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/StripMenu.tsx
Labels: Code, Requires Config Change, TGUI

#315 chryssalid simplemob, sprite showcase
  modular_zzplurt/code/modules/mob/living/basic/chryssalid/_chryssalid.dm
  modular_zzplurt/icons/mobs/chryssalid.dmi
  tgstation.dme
Labels: Sprites, Code

#290 Add cybernetic brain research, xenoarch rocks drops, fix energy weapon HUD
  code/_onclick/hud/hud.dm
  modular_skyrat/modules/gunhud/code/gun_hud.dm
  modular_skyrat/modules/gunhud/code/gun_hud_component.dm
  modular_zzplurt/code/modules/mining/boulder_processing/boulder_types.dm
  modular_zzplurt/code/modules/projectiles/guns/energy/recharge.dm
  modular_zzplurt/code/modules/research/designs/medical_designs.dm
  modular_zzplurt/code/modules/research/techweb/nodes/cyborg_nodes.dm
  tgstation.dme
Labels: Code

#338 [UPSTREAM UPDATE] 3.5.2025
  code/modules/mob/living/carbon/human/dummy.dm
  html/changelogs/AutoChangeLog-bubber-pr-3682.yml
  html/changelogs/bubber_archive/2025-05.yml
  modular_skyrat/modules/borgs/code/robot_items.dm
  modular_skyrat/modules/colony_fabricator/code/machines/ore_silo.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/exp_corps/code/clothing.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/quirks/echolocation/echolocation.dm
  modular_zubbers/code/modules/client/client_color.dm
  modular_zubbers/code/modules/status_effects/buffs/frenzy.dm
  modular_zubbers/maps/offstation/persistence/area.dm
  tgstation.dme
Labels: Code

#340 Easily allow maintainers to report issues upstream
  .github/workflows/report_upstream.yml
Labels: Github

#347 Raw Meatpizza Recipe Fix
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
Labels: Code

#332 Mech Additions
  code/modules/vehicles/mecha/mecha_damage.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  modular_zzplurt/code/modules/mecha/armor_plates.dm
  modular_zzplurt/icons/obj/devices/mecha_equipment.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Mecha/ModulesPane.tsx
Labels: Sprites, Code, TGUI

#319 Razor Claw Nerf
  modular_skyrat/modules/implants/code/augments_arms.dm
Labels: Code

#318 Adds toolbox to blacklist on persistence
  modular_skyrat/master_files/code/modules/loadout/categories/inhands.dm
Labels: Code

#352 [UPSTREAM UPDATE] 5.5.2025
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  code/controllers/subsystem/statpanel.dm
  code/game/objects/items/storage/belt.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/tgui_panel/tgui_panel.dm
  config/bubbers/bubbers_config.txt
  html/changelogs/bubber_archive/2025-05.yml
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_skyrat/modules/assault_operatives/code/sunbeam.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_skyrat/modules/food_replicator/code/reagents.dm
  modular_skyrat/modules/food_replicator/code/replicator_designs/replicator_food.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/card.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/port_tarkon_fluff.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  modular_zubbers/code/controllers/configuration/entries/blinking.dm
  modular_zubbers/code/modules/antagonists/bloodsucker/powers/feed.dm
  modular_zubbers/code/modules/loadout/categories/pocket.dm
  tgstation.dme
  tgui/packages/tgui-panel/audio/player.ts
Labels: Code, Requires Config Change, TGUI, Map Edit

#335 Armadyne Weaponry Reloaded - OP-15 'S.M.A.R.T.' Rifle
  modular_zzplurt/code/modules/smartrifle/code/bullets.dm
  modular_zzplurt/code/modules/smartrifle/code/gun.dm
  modular_zzplurt/code/modules/smartrifle/sound/rail.ogg
  modular_zzplurt/code/modules/smartrifle/sound/smartrifle_close.ogg
  modular_zzplurt/code/modules/smartrifle/sound/smartrifle_cock.ogg
  modular_zzplurt/code/modules/smartrifle/sound/smartrifle_fire.ogg
  modular_zzplurt/code/modules/smartrifle/sound/smartrifle_magin.ogg
  modular_zzplurt/code/modules/smartrifle/sound/smartrifle_magout.ogg
  modular_zzplurt/code/modules/smartrifle/sound/smartrifle_open.ogg
  modular_zzplurt/icons/obj/weapons/guns/inhands/lefthand40x32.dmi
  modular_zzplurt/icons/obj/weapons/guns/inhands/righthand40x32.dmi
  modular_zzplurt/icons/obj/weapons/guns/smartmag.dmi
  modular_zzplurt/icons/obj/weapons/guns/smartrifle.dmi
  modular_zzplurt/icons/obj/weapons/guns/smartriflerail.dmi
  tgstation.dme
Labels: Sprites, Code, Sound

#366 [ADMIN] Improves admin logging for hypnosis
  modular_skyrat/modules/modular_implants/code/nifsofts/hypnosis.dm
  modular_zzplurt/code/datums/quirks/neutral_quirks/hypnotic_gaze.dm
  modular_zzplurt/code/modules/modular_items/lewd_items/code/lewd_clothing/hypnogoggles.dm
  tgstation.dme
Labels: Code

#358 Interactions batch of fixes and additions
  code/__DEFINES/~~~splurt_defines/interactions.dm
  modular_skyrat/modules/interaction_menu/code/interaction_component.dm
  modular_zzplurt/code/controllers/subsystem/interactions.dm
  modular_zzplurt/code/modules/client/preferences/_preference.dm
  modular_zzplurt/code/modules/lewd/interaction_component/interaction_component.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/breasts.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/nipsuck.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/self/breasts.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/custom_blood.dm
  tgui/packages/tgui/interfaces/MobInteraction/tabs/InteractionsTab.tsx
Labels: Code, TGUI

#367 Makes the size examine information have the initial word be Capitalized
  modular_zzplurt/code/modules/mob/living/carbon/examine.dm
Labels: Code

#337 Enables donator items in our codebase
  code/__DEFINES/~~~splurt_defines/donators.dm
  code/modules/loadout/loadout_menu.dm
  code/modules/loadout/loadout_preference.dm
  modular_zzplurt/code/_globalvars/lists/global_lewd.dm
  modular_zzplurt/code/game/objects/items/plushes.dm
  modular_zzplurt/code/modules/client/loadout/donator/_donator.dm
  modular_zzplurt/code/modules/client/loadout/donator/ckey_locked.dm
  modular_zzplurt/code/modules/client/loadout/donator/first_tier.dm
  modular_zzplurt/code/modules/client/loadout/donator/second_tier.dm
  modular_zzplurt/code/modules/client/loadout/donator/third_tier.dm
  modular_zzplurt/code/modules/client/loadout/toys.dm
  modular_zzplurt/code/modules/food_and_drinks/recipes/drinks/drinks_alcoholic.dm
  modular_zzplurt/code/modules/loadout/loadout_items.dm
  modular_zzplurt/code/modules/loadout/loadout_menu.dm
  modular_zzplurt/code/modules/player_ranks/donator.dm
  modular_zzplurt/code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  modular_zzplurt/code/modules/reagents/chemistry/reagents/drinks/glass_styles/alcohol.dm
  modular_zzplurt/icons/obj/drinks.dmi
  modular_zzplurt/icons/obj/drinks/drinks.dmi
  modular_zzplurt/icons/obj/plushes.dmi
  modular_zzplurt/sound/voice/farts/fart9.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/base.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/types.ts
Labels: Sprites, Code, TGUI, Sound

#375 A calm replacement of p_they() in areas they are not supposed to be in
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
Labels: Code, Test Merge Candidate

#354 Ash Walkers Slaves
  _maps/bubber/automapper/automapper_config.toml
  _maps/splurt/automapper/templates/mining/lavaland_ashwalker_slaves.dmm
  modular_zzplurt/code/modules/mob_spawn/ghost_roles/ash_walkers_slave.dm
  tgstation.dme
Labels: Code, Map Edit, Test Merge Candidate

#378 Engi, CE, Atmos wintercoat back items allowed on tailcoats. (copy)
  modular_zzplurt/code/modules/clothing/suits/jackets.dm
Labels: Code

#362 Fixes the object ports pr
  modular_zzplurt/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_zzplurt/code/game/objects/items/stacks/tiles/tile_types.dm
  modular_zzplurt/code/game/objects/structures/barricades.dm
  modular_zzplurt/code/game/objects/structures/bed_chairs/beds.dm
  modular_zzplurt/code/game/objects/structures/bed_chairs/chairs.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/crates/wooden.dm
  modular_zzplurt/code/game/objects/structures/dresser.dm
  modular_zzplurt/code/game/objects/structures/false_walls.dm
  modular_zzplurt/code/game/objects/structures/table_frames.dm
  modular_zzplurt/code/game/objects/structures/tables_racks.dm
  modular_zzplurt/code/game/turfs/open/floor/fancy_floor.dm
  modular_zzplurt/code/game/turfs/simulated/wall/mineral_walls.dm
  modular_zzplurt/code/modules/mob/funclaw.dm
  modular_zzplurt/code/modules/mob/werewolves.dm
  modular_zzplurt/icons/obj/structures.dmi
  tgstation.dme
Labels: Sprites, Code

#353 Скорость разделки claw augment
  modular_zzplurt/code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  tgstation.dme
Labels: Code, Russian Splurt, Good First PR

#377 Lavaland Seedvault Improvements
  _maps/RandomRuins/LavaRuins/zzplurt/lavaland_surface_seed_vault_splurt.dmm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  config/lavaruinblacklist.txt
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
  modular_zzplurt/maps/offstation/seedvault.dm
  tgstation.dme
Labels: Code, Requires Config Change, Map Edit

#382 Reverts Primal Podpeople Lung Change
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
Labels: Code

#383 fixes rabbit (long) ears' direction
  modular_zzplurt/icons/mob/sprite_accessories/32x64_mam_ears.dmi
Labels: Sprites

#385 Fixes scaled appearance not immediately applying
  modular_zzplurt/code/modules/client/preferences/body_size.dm
  modular_zzplurt/code/modules/mob/living/living.dm
Labels: Code

#390 Makes Xenobio Entrance disposal not space you
  _maps/bubber/automapper/automapper_config.toml
  _maps/splurt/automapper/templates/metastation/metastation_disposal_fix.dmm
Labels: Map Edit, Auto-Mapper

#401 [MODULAR] Individual Logging Panel - TGUI
  code/modules/admin/verbs/individual_logging.dm
  modular_zzplurt/code/modules/admin/individual_logging.dm
  modular_zzplurt/code/modules/admin/player_panel.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/IndividualLogViewer.tsx
Labels: Code, TGUI, Test Merge Candidate, Administration

#405 Makes condom box start with condoms
  modular_zzplurt/code/modules/modular_items/lewd_items/code/condom_box.dm
Labels: Code
