Repository SPLURT-Station/S.P.L.U.R.T-tg, pull requests merged in 2025-04, with the labels that each got.

#124 #76 Port objects from oldbase to rebase [Testmergeable]
  code/game/objects/items/crayons.dm
  icons/effects/crayondecal.dmi
  modular_zzplurt/code/game/objects/effects/decals/cleanable/lewd_decals.dm
  modular_zzplurt/code/game/objects/effects/posters/contraband.dm
  modular_zzplurt/code/game/objects/items/food/donuts.dm
  modular_zzplurt/code/game/objects/items/plushes.dm
  modular_zzplurt/code/game/objects/items/posters.dm
  modular_zzplurt/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_zzplurt/code/game/objects/items/stacks/tiles/tile_types.dm
  modular_zzplurt/code/game/objects/structures/barricades.dm
  modular_zzplurt/code/game/objects/structures/bed_chairs/beds.dm
  modular_zzplurt/code/game/objects/structures/bed_chairs/chairs.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/crates/wooden.dm
  modular_zzplurt/code/game/objects/structures/dresser.dm
  modular_zzplurt/code/game/objects/structures/false_walls.dm
  modular_zzplurt/code/game/objects/structures/fauna.dm
  modular_zzplurt/code/game/objects/structures/table_frames.dm
  modular_zzplurt/code/game/objects/structures/tables_racks.dm
  modular_zzplurt/code/game/turfs/open/floor/fancy_floor.dm
  modular_zzplurt/code/game/turfs/simulated/wall/mineral_walls.dm
  modular_zzplurt/code/modules/client/loadout/donator/for_all_donators.dm
  modular_zzplurt/code/modules/client/loadout/mask.dm
  modular_zzplurt/code/modules/clothing/masks/masks.dm
  modular_zzplurt/code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  modular_zzplurt/code/modules/mob/funclaw.dm
  modular_zzplurt/code/modules/mob/werewolves.dm
  modular_zzplurt/code/modules/reagents/reagent_containers/cups/bottle.dm
  modular_zzplurt/code/modules/reagents/reagent_containers/cups/drinks.dm
  modular_zzplurt/code/modules/vending/autodrobe.dm
  modular_zzplurt/code/modules/vending/boozeomat.dm
  modular_zzplurt/code/modules/vending/cola.dm
  modular_zzplurt/icons/mob/claws/funclaws.dmi
  modular_zzplurt/icons/mob/clothing/mask.dmi
  modular_zzplurt/icons/mob/weres/werewolf.dmi
  modular_zzplurt/icons/obj/chairs.dmi
  modular_zzplurt/icons/obj/clothing/masks.dmi
  modular_zzplurt/icons/obj/crates.dmi
  modular_zzplurt/icons/obj/drinks/drinks.dmi
  modular_zzplurt/icons/obj/drinks/reagent_fillings.dmi
  modular_zzplurt/icons/obj/flora/plants.dmi
  modular_zzplurt/icons/obj/food/donut.dmi
  modular_zzplurt/icons/obj/lewd/effects.dmi
  modular_zzplurt/icons/obj/objects.dmi
  modular_zzplurt/icons/obj/plushes.dmi
  modular_zzplurt/icons/obj/posters.dmi
  modular_zzplurt/icons/obj/smooth_structures/table_shadow.dmi
  modular_zzplurt/icons/obj/stack_objects.dmi
  modular_zzplurt/icons/obj/station_obj.dmi
  modular_zzplurt/icons/obj/structures.dmi
  modular_zzplurt/icons/obj/structures/beds.dmi
  modular_zzplurt/icons/obj/tiles.dmi
  modular_zzplurt/icons/turf/floors.dmi
  modular_zzplurt/icons/turf/walls/wall_shadow.dmi
  modular_zzplurt/sound/machines/beep.ogg
  tgstation.dme
Labels: Sprites, Code, Sound

#251 Roundend embeds
  code/__HELPERS/roundend.dm
  config/splurt/discord.txt
  modular_skyrat/modules/title_screen/code/title_screen_subsystem.dm
  modular_zubbers/code/modules/quote_of_the_round/ticker.dm
  modular_zzplurt/code/controllers/configuration/entries/discord.dm
  modular_zzplurt/code/controllers/subsystem/title_screen.dm
  modular_zzplurt/code/modules/quote_of_the_round/ticker.dm
  tgstation.dme
Labels: Code, Requires Config Change

#270 [UPSTREAM UPDATE] 2.4.2025
  html/changelogs/AutoChangeLog-pr-3387.yml
  html/changelogs/archive/2025-04.yml
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails_big.dmi
  modular_zubbers/code/datums/greyscale/config_types/greyscale_configs/pipe_carp.dm
  modular_zubbers/code/modules/events/pipe_carp.dm
  modular_zubbers/code/modules/security/security_glock/lockers.dm
  modular_zubbers/icons/customization/tails.dmi
  modular_zubbers/icons/mob/simple/pipe_carp.dmi
  tgstation.dme
Labels: Sprites, Code

#275 [UPSTREAM UPDATE] 4.4.2025
  code/__HELPERS/mobs.dm
  code/__HELPERS/~bubber_helpers/mobs.dm
  code/modules/jobs/job_types/cyborg.dm
  html/changelogs/archive/2025-04.yml
  modular_skyrat/master_files/code/modules/jobs/job_types/cyborg.dm
  modular_skyrat/modules/deforest_medical_items/code/vulnerable_status_effect.dm
  modular_skyrat/modules/imported_vendors/code/vendor_containers.dm
  modular_skyrat/modules/medical/code/trauma_surgery.dm
  modular_zubbers/code/game/objects/items/storage/fancy.dm
  modular_zubbers/code/modules/customization/sprite_accessories/ears.dm
  modular_zubbers/code/modules/customization/sprite_accessories/horns.dm
  modular_zubbers/code/modules/customization/sprite_accessories/ipc_screens.dm
  modular_zubbers/code/modules/customization/sprite_accessories/tails.dm
  modular_zubbers/code/modules/customization/sprite_accessories/wings.dm
  modular_zubbers/icons/customization/ears.dmi
  modular_zubbers/icons/customization/horns.dmi
  modular_zubbers/icons/customization/horns_big.dmi
  modular_zubbers/icons/customization/snouts.dmi
  modular_zubbers/icons/customization/tails.dmi
  modular_zubbers/icons/mob/sprite_accesory/ipc_screens.dmi
  modular_zubbers/icons/mob/sprite_accesory/wings.dmi
  tgstation.dme
Labels: Sprites, Code

#276 Sizecode fixes
  modular_zzplurt/code/datums/mutations/body.dm
  modular_zzplurt/code/modules/mob/living/basic/space_fauna/wumborian_fugu/fugu_gland.dm
  modular_zzplurt/code/modules/modular_items/lewd_items/code/medipens.dm
  modular_zzplurt/code/modules/resize/sizechems.dm
Labels: Code

#279 [UPSTREAM UPDATES] 6.4.2025
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  _maps/map_files/moonstation/moonstation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals/signals_music.dm
  code/__DEFINES/dcs/signals/signals_transport.dm
  code/__DEFINES/electrified_buckle.dm
  code/__DEFINES/~~bubber_defines/traits/declarations.dm
  code/datums/components/electrified_buckle.dm
  code/datums/components/jukebox.dm
  code/datums/components/tackle.dm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/plaques/static_plaques.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/signs/signs_misc.dm
  code/modules/client/preferences/sounds.dm
  code/modules/mob/mob.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/transport/transport_module.dm
  html/changelogs/AutoChangeLog-pr-3426.yml
  html/changelogs/archive/2025-04.yml
  icons/hud/screen_alert.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/sounds.dm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
  modular_zubbers/code/datums/mood_events/_mood_event.dm
  modular_zubbers/code/game/objects/items/food/sweets.dm
  modular_zubbers/code/modules/emotes/emotes.dm
  modular_zubbers/code/modules/emotes/scream_datums.dm
  modular_zubbers/code/modules/languages/empathy.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
  modular_zubbers/code/modules/spells/spell_types/shapeshift/kittyform.dm
  modular_zubbers/code/modules/surgery/organs/internal/eyes/_eyes.dm
  modular_zubbers/sound/emotes/screams/slug_scream.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: Sprites, Code, TGUI, Map Edit, Sound

#266 Fixed incorrect underwear display
  code/__DEFINES/~~~splurt_defines/species_clothing_paths.dm
  modular_skyrat/master_files/code/modules/client/preferences/species_features/digitigrade_legs.dm
  modular_skyrat/master_files/code/modules/mob/dead/new_player/preferences_setup.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_zubbers/code/modules/clothing/undershirt.dm
  modular_zzplurt/code/modules/clothing/underwear/_underwear.dm
  modular_zzplurt/code/modules/clothing/underwear/briefs.dm
  modular_zzplurt/code/modules/clothing/underwear/shirt.dm
  modular_zzplurt/code/modules/clothing/underwear/socks.dm
  modular_zzplurt/code/modules/clothing/underwear/~generated_files/briefs.dm
  modular_zzplurt/code/modules/clothing/underwear/~generated_files/shirt.dm
  modular_zzplurt/code/modules/clothing/underwear/~generated_files/socks.dm
  modular_zzplurt/code/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/bras.dm
  modular_zzplurt/code/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/socks.dm
  modular_zzplurt/code/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/undershirts.dm
  modular_zzplurt/code/modules/customization/modules/mob/dead/new_player/sprite_accessories/underwear/underwear.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/human.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/human_defines.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_zzplurt/icons/mob/clothing/underwear.dmi
  tgstation.dme
Labels: Sprites, Code

#273 A quick fix for the Character's name field fix
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
Labels: TGUI

#271 hope this a good approach
  modular_zzplurt/code/datums/quirks/neutral_quirks/concubus.dm
  modular_zzplurt/code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Code

#241 Ports the Aegis and Rampart Armorkits (Now With 100% Better Code).
  modular_zzplurt/code/game/objects/items/armor_kits.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_zzplurt/code/modules/blueshield/code/closet.dm
  modular_zzplurt/icons/obj/reinforcekits.dmi
  tgstation.dme
Labels: Sprites, Code

#179 Infinite Dormitories improvements
  _maps/bubber/automapper/automapper_config.toml
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/splurt/automapper/templates/infinidorm.dmm
  _maps/splurt/templates/apartment_2.dmm
  _maps/splurt/templates/apartment_3.dmm
  _maps/splurt/templates/apartment_bar.dmm
  _maps/splurt/templates/apartment_capsule.dmm
  _maps/splurt/templates/apartment_city.dmm
  _maps/splurt/templates/apartment_forest.dmm
  _maps/splurt/templates/apartment_garden.dmm
  _maps/splurt/templates/apartment_jungle.dmm
  _maps/splurt/templates/apartment_prison.dmm
  _maps/splurt/templates/apartment_sauna.dmm
  _maps/splurt/templates/apartment_winter.dmm
  _maps/templates/hilbertshotel.dmm
  code/__DEFINES/~~~splurt_defines/dcs/signals_hilbertshotel.dm
  code/__DEFINES/~~~splurt_defines/hilbertshotel.dm
  code/__DEFINES/~~~splurt_defines/subsystems.dm
  code/datums/components/wall_mounted.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  config/splurt/game_options.txt
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/apartment.dmm
  modular_skyrat/modules/hotel_rooms/beach_condo.dmm
  modular_skyrat/modules/hotel_rooms/corporateoffice.dmm
  modular_skyrat/modules/hotel_rooms/cultcave.dmm
  modular_skyrat/modules/hotel_rooms/evacuationstation.dmm
  modular_skyrat/modules/hotel_rooms/grotto.dmm
  modular_skyrat/modules/hotel_rooms/grottoalt.dmm
  modular_skyrat/modules/hotel_rooms/library.dmm
  modular_skyrat/modules/hotel_rooms/prisoninfdorm.dmm
  modular_skyrat/modules/hotel_rooms/recovery.dmm
  modular_skyrat/modules/hotel_rooms/stationside.dmm
  modular_skyrat/modules/hotel_rooms/winterwoods.dmm
  modular_zubbers/code/modules/ghostcafe/hilbertshotel_silicon.dm
  modular_zzplurt/code/controllers/configuration/entries/hilbertshotel.dm
  modular_zzplurt/code/controllers/subsystem/hilbertshotel.dm
  modular_zzplurt/code/controllers/subsystem/interactions.dm
  modular_zzplurt/code/modules/hilbertshotel/bluespace_storage.dm
  modular_zzplurt/code/modules/hilbertshotel/hilbertshotel.dm
  modular_zzplurt/code/modules/hilbertshotel/hilbertsvanity.dm
  modular_zzplurt/code/modules/hilbertshotel/hotel_room_templates.dm
  modular_zzplurt/code/modules/hilbertshotel/hotelroomcontroller.dm
  modular_zzplurt/icons/obj/machines/room_controller.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/HilbertsHotelCheckout.tsx
  tgui/packages/tgui/interfaces/HilbertsHotelRoomControl.tsx
Labels: Sprites, Code, Requires Config Change, TGUI, Map Edit

#250 Replaces the Gutted Event Horizon With the Pulsar (and Refactors Some Hitscan Code).
  code/modules/projectiles/guns/energy/beam_rifle.dm
  modular_zzplurt/code/modules/projectiles/guns/energy/beam_rifle.dm
  modular_zzplurt/icons/mob/clothing/back.dmi
  modular_zzplurt/icons/mob/inhands/weapons/guns_lefthand.dmi
  modular_zzplurt/icons/mob/inhands/weapons/guns_righthand.dmi
  modular_zzplurt/icons/obj/weapons/guns/energy.dmi
  modular_zzplurt/icons/obj/weapons/guns/projectiles_tracer.dmi
  tgstation.dme
Labels: Sprites, Code

#283 More misc fixes
  modular_zzplurt/code/datums/quirks/neutral_quirks/undead.dm
  modular_zzplurt/code/modules/admin/smites/tabletide.dm
  tgstation.dme
Labels: Code, Administration

#291 [UPSTREAM UPDATE] 13.4.2025
  code/game/turfs/open/water.dm
  html/changelogs/AutoChangeLog-bubber-pr-3441.yml
  html/changelogs/AutoChangeLog-bubber-pr-3481.yml
  html/changelogs/AutoChangeLog-bubber-pr-3491.yml
  html/changelogs/AutoChangeLog-bubber-pr-3495.yml
  html/changelogs/bubber_archive/2025-04.yml
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
  modular_skyrat/modules/modular_items/code/bags.dm
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
  modular_skyrat/modules/synths/code/surgery/robot_brain_surgery.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
  modular_zubbers/code/game/machinery/burger_reactor/reactor.dm
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
  modular_zubbers/code/modules/storyteller/scheduled_event.dm
  tgui/packages/tgui/interfaces/RBMK2.tsx
Labels: Code, TGUI

#278 Ranked votes, and applies it to storytellers
  code/__DEFINES/~~~splurt_defines/subsystems.dm
  code/datums/votes/_vote_datum.dm
  code/datums/votes/custom_vote.dm
  modular_zzplurt/code/controllers/subsystem/vote.dm
  modular_zzplurt/code/datums/votes/_vote_datum.dm
  modular_zzplurt/code/modules/storyteller/storyteller_vote.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Code, TGUI

#261 The Great Storyteller Rebalancing - Splurt Edition
  code/__DEFINES/~~~splurt_defines/storyteller_defines.dm
  code/modules/events/ghost_role/space_dragon.dm
  modular_skyrat/modules/oneclickantag/code/oneclickantag.dm
  modular_zzplurt/code/modules/storyteller/event_defines/crewset/bloodsucker.dm
  modular_zzplurt/code/modules/storyteller/event_defines/crewset/changeling.dm
  modular_zzplurt/code/modules/storyteller/event_defines/crewset/heretic.dm
  modular_zzplurt/code/modules/storyteller/event_defines/crewset/malf.dm
  modular_zzplurt/code/modules/storyteller/event_defines/crewset/nuke_ops.dm
  modular_zzplurt/code/modules/storyteller/event_defines/crewset/spies.dm
  modular_zzplurt/code/modules/storyteller/event_defines/crewset/traitor.dm
  modular_zzplurt/code/modules/storyteller/event_defines/ghostset/ghostset_overrides.dm
  modular_zzplurt/code/modules/storyteller/event_defines/ghostset/lone_infiltrator.dm
  modular_zzplurt/code/modules/storyteller/event_defines/ghostset/voidwalker.dm
  modular_zzplurt/code/modules/storyteller/event_defines/major/major_overrides.dm
  modular_zzplurt/code/modules/storyteller/event_defines/moderate/moderate_overrides.dm
  modular_zzplurt/code/modules/storyteller/event_defines/mundane/mundane_overrides.dm
  modular_zzplurt/code/modules/storyteller/event_defines/mundane/scrubber_overrides.dm
  modular_zzplurt/code/modules/storyteller/event_defines/readme.md
  modular_zzplurt/code/modules/storyteller/storytellers/tellers/storyteller_0_extended.dm
  modular_zzplurt/code/modules/storyteller/storytellers/tellers/storyteller_1_low.dm
  modular_zzplurt/code/modules/storyteller/storytellers/tellers/storyteller_2_medium.dm
  modular_zzplurt/code/modules/storyteller/storytellers/tellers/storyteller_3_high.dm
  modular_zzplurt/code/modules/storyteller/storytellers/tellers/storyteller_overrides.dm
  tgstation.dme
Labels: Code, Test Merged

#309 Adds bodywriting
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/human.dm
  modular_zzplurt/code/modules/paperwork/pen.dm
  modular_zzplurt/code/modules/surgery/bodyparts/_bodyparts.dm
  modular_zzplurt/code/modules/surgery/organs/genitals/genitals.dm
  tgstation.dme
Labels: Code

#312 Fix an Error with Organic to Cyborg interactions
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_skyrat/modules/borgs/code/robot_defines.dm
Labels: Code, TGUI

#284 Packing peanuts
  code/__DEFINES/~~~splurt_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/structures/crates_lockers/closets.dm
  modular_zzplurt/code/game/objects/effects/overlays/packing_peanuts.dm
  modular_zzplurt/code/game/objects/items/mail.dm
  modular_zzplurt/code/game/objects/items/stacks/packing_peanuts.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/closets.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/crates.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/crates/cardboard.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/crates/critter.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/crates/secure.dm
  modular_zzplurt/code/modules/cargo/packs/_packs.dm
  modular_zzplurt/code/modules/hydroponics/grown/peanut.dm
  modular_zzplurt/code/modules/jobs/job_types/cargo_technician.dm
  modular_zzplurt/code/modules/jobs/job_types/quartermaster.dm
  modular_zzplurt/code/modules/jobs/job_types/shaft_miner.dm
  modular_zzplurt/code/modules/mining/lavaland/necropolis_chest.dm
  modular_zzplurt/code/modules/mining/mine_items.dm
  modular_zzplurt/code/modules/reagents/chemistry/reagents/food_reagents.dm
  modular_zzplurt/code/modules/reagents/reagent_containers/condiment.dm
  modular_zzplurt/code/modules/surgery/organs/internal/liver/_liver.dm
  modular_zzplurt/icons/obj/crates_peanuts.dmi
  modular_zzplurt/icons/obj/service/hydroponics/growing.dmi
  modular_zzplurt/icons/obj/service/hydroponics/harvest.dmi
  modular_zzplurt/icons/obj/stack_objects.dmi
  tgstation.dme
Labels: Sprites, Code

#234 [RTM] Bunch of Bug Fixes
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
  modular_zzplurt/code/game/area/areas/ruins/lavaland.dm
  modular_zzplurt/code/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_zzplurt/code/modules/ashwalkers/code/items/ash_weapons.dm
  modular_zzplurt/code/modules/clothing/suits/costume.dm
  modular_zzplurt/code/modules/clothing/under/misc.dm
  modular_zzplurt/code/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  modular_zzplurt/code/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_zzplurt/code/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_zzplurt/code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  modular_zzplurt/code/modules/projectiles/guns/energy/pka_skin_variations.dm
  modular_zzplurt/icons/mob/body_markings/tertiary_markings.dmi
  modular_zzplurt/icons/mob/clothing/under/under_digi.dmi
  modular_zzplurt/icons/obj/guns/pkas.dmi
  tgstation.dme
Labels: Sprites, Code

#310 Admin logs for discord
  config/splurt/discord.txt
  modular_zzplurt/code/controllers/configuration/entries/discord.dm
  modular_zzplurt/code/modules/admin/chat_commands.dm
  modular_zzplurt/code/modules/hilbertshotel/hilbertshotel.dm
  modular_zzplurt/code/modules/logging/log_category.dm
  tgstation.dme
Labels: Code, Requires Config Change, Administration

#326 [UPSTREAM UPDATE] 26.4.2025
  code/__DEFINES/subsystems.dm
  code/__DEFINES/supermatter.dm
  code/__DEFINES/~skyrat_defines/reagents.dm
  code/__HELPERS/~bubber_helpers/lists.dm
  code/game/machinery/scanner_gate.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
  code/modules/power/supermatter/supermatter_extra_effects.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/medigel.dm
  code/modules/reagents/reagent_containers/patch.dm
  html/changelogs/AutoChangeLog-bubber-pr-3525.yml
  html/changelogs/AutoChangeLog-bubber-pr-3565.yml
  html/changelogs/AutoChangeLog-bubber-pr-3567.yml
  html/changelogs/archive/2025-04.yml
  html/changelogs/bubber_archive/2025-04.yml
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/modular_implants/code/nif_persistence.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
  modular_skyrat/modules/power/code/powerator.dm
  modular_skyrat/modules/power/code/powerator_subsystem.dm
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
  modular_zubbers/code/game/machinery/cellchargers/cell_charger.dm
  modular_zubbers/code/game/machinery/computer/orders/order_computer/cook_order.dm
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
  modular_zubbers/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_zubbers/code/modules/loadout/categories/~donator/donator_personal.dm
  modular_zubbers/code/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_zubbers/code/modules/mob/dead/taur_types.dm
  modular_zubbers/code/modules/power/powerator.dm
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_upgrade.dm
  modular_zubbers/code/modules/storyteller/event_defines/crewset/heretic.dm
  modular_zubbers/code/modules/storyteller/gamemode.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/_storyteller.dm
  modular_zubbers/icons/customization/body_markings/markings.dmi
  modular_zubbers/icons/customization/taur.dmi
  modular_zubbers/icons/obj/machines/powerator.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/AmmoWorkbench.jsx
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
  tgui/packages/tgui/interfaces/ScannerGate.jsx
Labels: Sprites, Code, TGUI

#327 Adds toiletification smite
  modular_zzplurt/code/game/objects/items/mail.dm
  modular_zzplurt/code/game/objects/items/stacks/packing_peanuts.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/crates.dm
  modular_zzplurt/code/modules/admin/smites/skibidi.dm
  modular_zzplurt/code/modules/cargo/packs/_packs.dm
  modular_zzplurt/icons/mob/human/bodyparts.dmi
  tgstation.dme
Labels: Sprites, Code, Administration

#329 Six pack storage now generates using overlays (coolest thing ever)
  icons/obj/drinks/bottles.dmi
  modular_zzplurt/code/game/objects/items/storage/sixpack.dm
  modular_zzplurt/code/game/objects/structures/crates_lockers/closets.dm
  tgstation.dme
Labels: Sprites, Code

#330 You can see cigarettes attached to your gas mask filter slot
  code/modules/clothing/masks/gasmask.dm
  modular_zzplurt/code/modules/clothing/masks/gasmask.dm
Labels: Code

#331 [UPSTREAM UPDATES] 28.4.2025
  code/__DEFINES/~~bubber_defines/traits/nanites.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/scanner_gate.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/events/fake_virus.dm
  code/modules/mob/living/living.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  html/changelogs/AutoChangeLog-bubber-pr-3525.yml
  html/changelogs/AutoChangeLog-bubber-pr-3565.yml
  html/changelogs/AutoChangeLog-bubber-pr-3635.yml
  html/changelogs/bubber_archive/2025-04.yml
  modular_skyrat/master_files/code/modules/client/preferences/quirks/death_consequences.dm
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
  modular_skyrat/modules/indicators/code/combat_indicator.dm
  modular_skyrat/modules/synths/code/bodyparts/brain.dm
  modular_skyrat/modules/synths/code/bodyparts/ears.dm
  modular_skyrat/modules/synths/code/bodyparts/eyes.dm
  modular_skyrat/modules/synths/code/bodyparts/heart.dm
  modular_skyrat/modules/synths/code/bodyparts/liver.dm
  modular_skyrat/modules/synths/code/bodyparts/lungs.dm
  modular_skyrat/modules/synths/code/bodyparts/stomach.dm
  modular_zubbers/code/controllers/subsystem/job.dm
  modular_zubbers/code/datums/components/crafting/furniture.dm
  modular_zubbers/code/datums/components/nanites.dm
  modular_zubbers/code/modules/antagonists/malf/remove_malf.dm
  modular_zubbers/code/modules/antagonists/traitor/uplink/uplink_items/syndimaid/clothes.dm
  modular_zubbers/code/modules/customization/sprite_accessories/genitals.dm
  modular_zubbers/code/modules/nanites/items/boards.dm
  modular_zubbers/code/modules/nanites/machines/nanite_chamber_computer.dm
  modular_zubbers/code/modules/nanites/machines/nanite_cloud_controller.dm
  modular_zubbers/code/modules/nanites/nanite_programs/utility.dm
  modular_zubbers/code/modules/power/supermatter/supermatter_delam.dm
  modular_zubbers/icons/mob/sprite_accesory/genitals/breasts_onmob.dmi
  modular_zubbers/icons/mob/sprite_accesory/genitals/penis_onmob.dmi
  modular_zubbers/icons/mob/sprite_accesory/genitals/testicles_onmob.dmi
  modular_zubbers/strings/bloodsuckers/malkavian_revelations.json
  tgstation.dme
  tgui/packages/tgui/interfaces/NaniteChamberControl.tsx
  tgui/packages/tgui/interfaces/NaniteCloudControl.tsx
  tgui/packages/tgui/interfaces/ScannerGate.jsx
Labels: Sprites, Code, TGUI

#334 Slime puddles can't pass through doors
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Code
