Repository SPLURT-Station/S.P.L.U.R.T-tg, pull requests merged in 2025-09, with the labels that each got.

#481 Makes the All-American Diner a Ghost Role
  _maps/RandomRuins/SpaceRuins/splurt/allamericandiner.dmm
  code/__DEFINES/~~~splurt_defines/economy.dm
  code/controllers/subsystem/economy.dm
  modular_zzplurt/code/datums/ruins/space.dm
  modular_zzplurt/code/modules/mob_spawn/ghost_roles/all_american.dm
  modular_zzplurt/icons/obj/card.dmi
  tgstation.dme
Labels: Sprites, Code, Map Edit, Mapping

#453 Species Limbs in Augs+
  code/modules/power/smes.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_android.png
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species_type/snail.dm
  modular_skyrat/modules/better_vox/code/vox_bodyparts.dm
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/bodyparts/code/akula_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/insect_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/parts.dm
  modular_skyrat/modules/bodyparts/code/skrell_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/snail_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/teshari_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/vox_bodyparts.dm
  modular_skyrat/modules/customization/modules/client/augment/limbs.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/customization/modules/client/augment/species_limbs.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/robot_bodyparts.dm
  modular_skyrat/modules/mutants/code/mutant_species.dm
  modular_skyrat/modules/mutants/code/mutant_zombie_bodyparts.dm
  modular_skyrat/modules/synths/code/bodyparts/power_cord.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  tgstation.dme
Labels: Code, Image

#510 Adds new malf AI ability to hack IPCs/Synthetics
  code/__DEFINES/~~~splurt_defines/role_preferences.dm
  code/modules/client/preferences/middleware/antags.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_defines.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_hackedsynthetic.png
  modular_zzplurt/code/modules/antagonists/malf/ai_module.dm
  modular_zzplurt/code/modules/antagonists/malf/infected_ipc.dm
  modular_zzplurt/icons/action/milf_ai_ability.dmi
  modular_zzplurt/icons/human-player/InfectedIPC.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/hackedsynthetic.ts
Labels: Sprites, Code, Image, TGUI

#567 Restorative metabolism Nerf
  modular_zzplurt/code/datums/quirks/positive_quirks/restorative_metabolism.dm
Labels: Code

#560 Removes Razor sharp claw implant from loadout
  modular_skyrat/modules/customization/modules/client/augment/implants.dm
  modular_zubbers/code/modules/jobs/_job.dm
Labels: Code

#559 Reverts bubbers revert from 135 HP to 100 HP
  code/__DEFINES/~~bubber_defines/mobs.dm
  code/__DEFINES/~~~splurt_defines/bodyparts.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  modular_skyrat/modules/primitive_cooking_additions/code/millstone.dm
  modular_zzplurt/code/modules/mob/living/silicon/robot/robot_defines.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CrewConsoleBubbers.tsx
Labels: Code, TGUI

#520 Some fixes for stuff that broke at the moment of rebasing
  README.md
  code/__DEFINES/~~~splurt_defines/DNA.dm
  config/splurt/splurt_title.txt
  modular_skyrat/modules/title_screen/code/new_player.dm
  modular_zzplurt/code/modules/mob/dead/new_player/new_player.dm
  modular_zzplurt/code/modules/mob/dead/new_player/title_screen_html.dm
  modular_zzplurt/code/modules/quote_of_the_round/ticker.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoRules.tsx
  tools/autowiki/autowiki.js
Labels: Tools, Code, Requires Config Change, TGUI, javascript

#577 Adds the 'Clumsy Tail' quirk
  modular_zzplurt/code/datums/quirks/neutral_quirks/tail_sweep.dm
  tgstation.dme
Labels: Code

#583 No loss of stamina at climax
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/status_effects/climax.dm
Labels: Code

#590 Fixes several horn types not being visible
  modular_zzplurt/code/modules/sprite_accessories/horns.dm
Labels: Code

#578 [PORT] Tail and Ear Interactions
  modular_zzplurt/code/modules/lewd/interaction_component/interaction_component.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/ears.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/self/tail.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/tail.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/social/tail.dm
  modular_zzplurt/code/modules/surgery/organs/external/tail.dm
  tgstation.dme
Labels: Code

#575 Adds Werewolf and Deathclaw Lewd OPFOR Options
  modular_zzplurt/code/modules/lewd/lewd_chemistry/reagents/mutation.dm
  modular_zzplurt/code/modules/lewd/lewd_diseases/transformative.dm
  modular_zzplurt/code/modules/lewd/lewd_items/food/meat.dm
  modular_zzplurt/code/modules/lewd/lewd_opfor/antagonist_powers.dm
  tgstation.dme
Labels: Code

#595 Prevents cursekin from joining as prisoner
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_zzplurt/code/modules/jobs/_job.dm
  tgstation.dme
Labels: Code

#596 Gives cursekin the slowdown that comes with oversized
  modular_zubbers/code/modules/customization/species/lycans/_cursekin_species.dm
Labels: Code

#581 Hacked Synth adjustment
  modular_zzplurt/code/modules/antagonists/malf/infected_ipc.dm
Labels: Code
