Repository SPLURT-Station/S.P.L.U.R.T-tg, pull requests merged in 2025-02, with the labels that each got.

#108 Adds portal panties (and more improvements)
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/__DEFINES/~~~splurt_defines/DNA.dm
  code/__DEFINES/~~~splurt_defines/interactions.dm
  code/datums/components/caltrop.dm
  code/modules/unit_tests/worn_icons.dm
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/breasts_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/penis_onmob.dmi
  modular_skyrat/modules/interaction_menu/code/interaction_component.dm
  modular_skyrat/modules/interaction_menu/code/interaction_datum.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/misc.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_zzplurt/code/modules/client/loadout/donator/for_all_donators.dm
  modular_zzplurt/code/modules/client/preferences/genitals.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interaction_datum.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/portal_panties/_portal.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/portal_panties/portal_feet.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/portal_panties/portal_fuck.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/portal_panties/portal_hand.dm
  modular_zzplurt/code/modules/lewd/interaction_menu/interactions/lewd/portal_panties/portal_oral.dm
  modular_zzplurt/code/modules/lewd/lewd_chemistry/items/bottles.dm
  modular_zzplurt/code/modules/lewd/lewd_chemistry/reagents/_aphrodisiac.dm
  modular_zzplurt/code/modules/lewd/lewd_chemistry/reagents/belly_enlarger.dm
  modular_zzplurt/code/modules/lewd/lewd_chemistry/reagents/butt_enlarger.dm
  modular_zzplurt/code/modules/lewd/lewd_chemistry/reagents/camphor.dm
  modular_zzplurt/code/modules/lewd/lewd_chemistry/reagents/dopamine.dm
  modular_zzplurt/code/modules/lewd/lewd_chemistry/reagents/rutt.dm
  modular_zzplurt/code/modules/lewd/lewd_helpers/human.dm
  modular_zzplurt/code/modules/lewd/lewd_items/portal_fleshlight/box.dm
  modular_zzplurt/code/modules/lewd/lewd_items/portal_fleshlight/portal_fleshlight.dm
  modular_zzplurt/code/modules/lewd/lewd_items/portal_fleshlight/portal_panties.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_zzplurt/code/modules/sprite_accessories/genitals.dm
  modular_zzplurt/code/modules/vending/lustwish.dm
  modular_zzplurt/icons/mob/clothing/underwear.dmi
  modular_zzplurt/icons/obj/lewd/dildo.dmi
  modular_zzplurt/icons/obj/lewd/fleshlight.dmi
  tgstation.dme
Labels: Sprites, Code

#110 [UPSTREAM UPDATE] 31.1.2025
  code/__DEFINES/~skyrat_defines/factions.dm
  code/__DEFINES/~skyrat_defines/techweb_nodes.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/mutations/touch.dm
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
  code/modules/mob/living/carbon/examine.dm
  html/changelogs/AutoChangeLog-pr-2894.yml
  html/changelogs/AutoChangeLog-pr-3030.yml
  html/changelogs/archive/2025-01.yml
  modular_skyrat/master_files/code/game/objects/items/pneumaticCannon.dm
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/icons/donator/mob/clothing/custom_w.dmi
  modular_skyrat/master_files/icons/donator/obj/custom.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/turret/turret.json
  modular_skyrat/modules/GAGS/json_configs/turret/turret_toolbox.json
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
  modular_skyrat/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/magfed_turret/code/assembly.dm
  modular_skyrat/modules/magfed_turret/code/designators.dm
  modular_skyrat/modules/magfed_turret/code/spawners.dm
  modular_skyrat/modules/magfed_turret/code/turret_framework.dm
  modular_skyrat/modules/magfed_turret/code/turrets/cargo.dm
  modular_skyrat/modules/magfed_turret/code/turrets/ruins.dm
  modular_skyrat/modules/magfed_turret/icons/assembly.dmi
  modular_skyrat/modules/magfed_turret/icons/designator.dmi
  modular_skyrat/modules/magfed_turret/icons/inhands/lefthand.dmi
  modular_skyrat/modules/magfed_turret/icons/inhands/righthand.dmi
  modular_skyrat/modules/magfed_turret/icons/mob/belt.dmi
  modular_skyrat/modules/magfed_turret/icons/spawners.dmi
  modular_skyrat/modules/magfed_turret/icons/turrets/cargo.dmi
  modular_skyrat/modules/magfed_turret/icons/turrets/ruins.dmi
  modular_skyrat/modules/magfed_turret/readme.md
  modular_skyrat/modules/synths/code/bodyparts/power_cord.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/research.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/turret.dm
  modular_skyrat/modules/tarkon/icons/mob/clothing/belt.dmi
  modular_skyrat/modules/tarkon/icons/mob/inhands/lefthand.dmi
  modular_skyrat/modules/tarkon/icons/mob/inhands/righthand.dmi
  modular_skyrat/modules/tarkon/icons/obj/turret.dmi
  modular_zubbers/code/modules/research/designs/mechfab_designs.dm
  modular_zubbers/code/modules/research/techweb/all_nodes.dm
  modular_zubbers/code/modules/storyteller/event_defines/major/major_overrides.dm
  modular_zubbers/code/modules/storyteller/event_defines/moderate/moderate_overrides.dm
  modular_zubbers/master_files/code/modules/entombed_quirk/code/entombed_mod.dm
  tgstation.dme
Labels: Sprites, Code

#111 [UPSTREAM UPDATE] 2.2.2025
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_persistence.dmm
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_surface_gas_bubber.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_persistence.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_surface_gas_bubber.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/__DEFINES/~skyrat_defines/say.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/tts.dm
  code/datums/id_trim/ruins.dm
  code/game/objects/items/cards_ids.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  config/config.txt
  html/changelogs/AutoChangeLog-pr-3027.yml
  html/changelogs/archive/2025-02.yml
  icons/obj/machines/solar.dmi
  modular_skyrat/master_files/code/modules/client/preferences/voice.dm
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_skyrat/modules/customization/game/objects/items/tanks/n2_tanks.dm
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
  modular_skyrat/modules/shotgunrebalance/code/ammobox.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/lungs.dm
  modular_zubbers/code/modules/blooper/atoms_movable.dm
  modular_zubbers/code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_defines.dm
  modular_zubbers/code/modules/silicons/borgs/code/robot_model.dm
  modular_zubbers/code/modules/silicons/borgs/sprites/felibot_all.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/CREDIT.MD
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/LICENSE.txt
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_engineering.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_medical.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_mining.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_science.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_security.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/catborgs/catborg_service.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_engi.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_jani.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_medicat.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_mine.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_sci.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_sec.dmi
  modular_zubbers/code/modules/silicons/borgs/sprites/kittycatborgs/kittyborg/Kittyborg_service.dmi
Labels: Sprites, Code, Requires Config Change, Map Edit

#112 [UPSTREAM UPDATE] 4.2.2025
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_surface_gas_bubber.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_surface_gas_bubber.dmm
  _maps/RandomRuins/SpaceRuins/bubberstation/new syndicate base.tgm
  _maps/bubber/pods/shelter_4.dmm
  _maps/bubber/pods/shelter_triage.dmm
  _maps/bubber/pods/shelterxenoarch.dmm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/inducer.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/damage_procs.dm
  config/bubbers/vore_config.txt
  config/config.txt
  html/changelogs/archive/2025-02.yml
  modular_zubbers/code/datums/components/vore/_defines.dm
  modular_zubbers/code/datums/components/vore/belly.dm
  modular_zubbers/code/datums/components/vore/configs.dm
  modular_zubbers/code/datums/components/vore/digest_modes.dm
  modular_zubbers/code/datums/components/vore/ui.dm
  modular_zubbers/code/datums/components/vore/vore.dm
  modular_zubbers/code/game/objects/items/cards_ids.dm
  modular_zubbers/code/modules/hydroponics/code/grown/rocks.dm
  modular_zubbers/code/modules/hydroponics/icons/harvest.dmi
  modular_zubbers/code/modules/mining/equipment/survival_pod.dm
  tgstation.dme
Labels: Sprites, Code, Requires Config Change, Map Edit

#117 [UPSTREAM UPDATE] 8.2.2025
  _maps/RandomRuins/IceRuins/bubberstation/icemoon_surface_gas_bubber.dmm
  _maps/RandomRuins/LavaRuins/bubberstation/lavaland_surface_gas_bubber.dmm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  html/changelogs/AutoChangeLog-pr-3064.yml
  html/changelogs/archive/2025-02.yml
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/lungs.dm
  modular_zubbers/code/modules/hydroponics/code/grown/rocks.dm
  modular_zubbers/code/modules/mob/living/carbon/human/species_types/shadekin.dm
  modular_zubbers/code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  modular_zubbers/icons/mob/species/human_parts_greyscale.dmi
Labels: Sprites, Code, Map Edit

#118 [PORT] Colormate from Citadel/ArkStation
  modular_zzplurt/code/modules/colormate/color_matrix.dm
  modular_zzplurt/code/modules/colormate/colormate.dm
  modular_zzplurt/icons/obj/machines/colormate.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Colormate.jsx
Labels: Sprites, Code, TGUI

#116 [PORT] Ash Fortress from Nova Sector
  _maps/bubber/automapper/automapper_config.toml
  _maps/splurt/automapper/templates/mining/lavaland_ashwalker_fortress.dmm
  modular_zubbers/icons/obj/machines/cauldron.dmi
  modular_zzplurt/code/game/objects/items/storage/boxes/clothes_boxes.dm
  modular_zzplurt/code/game/turfs/open/floor/fancy_floor.dm
  modular_zzplurt/code/game/turfs/open/floor/misc_floor.dm
  modular_zzplurt/code/modules/ashwalkers/code/clothing/ash_armour.dm
  modular_zzplurt/code/modules/ashwalkers/code/items/ash_chicken.dm
  modular_zzplurt/code/modules/ashwalkers/code/items/ash_tool.dm
  modular_zzplurt/code/modules/primitive_cooking_additions/cauldron.dm
  modular_zzplurt/icons/mob/clothing/suit/ashwalker_clothing.dmi
  modular_zzplurt/icons/mob/clothing/suit/ashwalker_clothing_mob.dmi
  modular_zzplurt/icons/obj/ashwalker_tools.dmi
  tgstation.dme
Labels: Sprites, Code, Map Edit

#120 [UPSTREAM UPDATE] 12.2.2025
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  html/changelogs/archive/2025-02.yml
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/cultcave.dmm
  modular_skyrat/modules/hotel_rooms/evacuationstation.dmm
  modular_skyrat/modules/hotel_rooms/winterwoods.dmm
  modular_zubbers/code/game/objects/effects/overlays.dm
Labels: Code

#106 Fixes more preferences issues
  code/modules/client/preferences_savefile.dm
Labels: Code

#121 [UPSTREAM UPDATE] 14.2.2025
  code/modules/asset_cache/transports/asset_transport.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  html/changelogs/archive/2025-02.yml
  modular_skyrat/modules/barricades/code/barricade.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/prisoninfdorm.dmm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/oneclickantag/code/oneclickantag.dm
  modular_zubbers/code/modules/loadout/categories/neck.dm
Labels: Code

#96 Brings Back Cargodise Lost (and also takes secoffs' gun beacons away)
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  code/modules/jobs/job_types/security_officer.dm
  modular_zzplurt/code/datums/ruins/space.dm
  modular_zzplurt/code/modules/mob_spawn/ghost_roles/misc_roles.dm
  tgstation.dme
Labels: Code, Map Edit, Mapping

#122 [UPSTREAM UPDATE] 17.2.2025
  code/__DEFINES/diseases.dm
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/__HELPERS/~bubber_helpers/virus.dm
  code/_globalvars/traits/_traits.dm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/symptoms/cough.dm
  code/datums/diseases/advance/symptoms/sneeze.dm
  code/datums/diseases/advance/symptoms/symptoms.dm
  code/game/data_huds.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/events/disease_outbreak.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  html/changelogs/AutoChangeLog-pr-2534.yml
  html/changelogs/AutoChangeLog-pr-3103.yml
  html/changelogs/AutoChangeLog-pr-3104.yml
  html/changelogs/AutoChangeLog-pr-3115.yml
  html/changelogs/archive/2025-02.yml
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/hotel_rooms/apartment.dmm
  modular_zubbers/code/datums/greyscale/json_configs/crop_jacket.json
  modular_zubbers/code/datums/greyscale/json_configs/crop_jacket_none.json
  modular_zubbers/code/datums/greyscale/json_configs/crop_jacket_short.json
  modular_zubbers/code/game/machinery/crew_monitor.dm
  modular_zubbers/code/game/objects/items/pet_snacks.dm
  modular_zubbers/code/game/objects/items/plushes.dm
  modular_zubbers/code/modules/GAGS/greyscale_configs.dm
  modular_zubbers/code/modules/cargo/packs/goodies.dm
  modular_zubbers/code/modules/client/verbs/character_directory.dm
  modular_zubbers/code/modules/clothing/suits/croptops.dm
  modular_zubbers/code/modules/disease/disease_transmission.dm
  modular_zubbers/code/modules/loadout/categories/suit.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/code/modules/quirks/code/positive_quirks/telepathy.dm
  modular_zubbers/code/modules/security/security_glock/lockers.dm
  modular_zubbers/code/modules/storyteller/storytellers/tellers/storyteller_6_house.dm
  modular_zubbers/code/modules/vending/games.dm
  modular_zubbers/icons/obj/clothing/suits/crop_jacket.dmi
  modular_zubbers/icons/obj/clothing/suits/crop_jacket_worn.dmi
  modular_zubbers/icons/obj/clothing/suits/sleeveless_crop_jacket.dmi
  modular_zubbers/icons/obj/clothing/suits/sleeveless_crop_jacket_worn.dmi
  modular_zubbers/icons/obj/pet_snacks.dmi
  modular_zubbers/icons/obj/toys/plushes.dmi
  modular_zubbers/sound/emotes/arf.ogg
  modular_zzplurt/code/datums/quirks/neutral_quirks/choke_slut.dm
  modular_zzplurt/code/modules/client/preferences/erp_preferences.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Pandemic/Symptom.tsx
Labels: Sprites, Code, TGUI, Sound

#123 Adds GitHub issue assigner to the codebase
  .github/issue-assigner.yml
Labels: Github

#107 [WIP] Chugging = Done | Blood Colors = Done
  code/__DEFINES/~~~splurt_defines/blood.dm
  code/datums/components/bloodysoles.dm
  code/datums/elements/decals/blood.dm
  code/datums/mutable_appearance.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/pierce.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/projectile.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  modular_skyrat/modules/digi_bloodsole/code/_shoes.dm
  modular_zzplurt/code/datums/dna.dm
  modular_zzplurt/code/modules/client/preferences/colored_blood.dm
  modular_zzplurt/code/modules/food_and_drinks/chugging.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/custom_blood.dm
  modular_zzplurt/code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_zzplurt/icons/effects/bleed_overlays.dmi
  modular_zzplurt/icons/effects/blood.dmi
  modular_zzplurt/icons/effects/dam_mob.dmi
  modular_zzplurt/icons/effects/footprints.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/splurt/blood_color.tsx
Labels: Sprites, Code, TGUI

#130 Github discussion templates
  .github/DISCUSSION_TEMPLATE/feature-addition.yml
  .github/DISCUSSION_TEMPLATE/feature-suggestion.yml
  .github/DISCUSSION_TEMPLATE/tweak-suggestion.yml
  .github/DISCUSSION_TEMPLATE/tweaks.yml
  .github/ISSUE_TEMPLATE/bounty_form.yml
  .github/ISSUE_TEMPLATE/bug_report_form.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Github

#131 [UPSTREAM UPDATE] 23.2.2024
  html/changelogs/archive/2025-02.yml
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Code

#134 Misc fixes from testing
  code/controllers/subsystem/ticker.dm
  code/modules/mob/mob_say.dm
  config/config.txt
  config/splurt/game_options.txt
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_zzplurt/code/modules/client/loadout/under.dm
  modular_zzplurt/code/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_tongue.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/32x64ears.dm
  modular_zzplurt/code/modules/customization/sprite_accessories/ears.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/species_types/hemophage_species.dm
  modular_zzplurt/code/modules/sprite_accessories/32x64ears.dm
  modular_zzplurt/code/modules/sprite_accessories/64x32horns.dm
  modular_zzplurt/code/modules/sprite_accessories/64x32tails.dm
  modular_zzplurt/code/modules/sprite_accessories/64x32wings.dm
  modular_zzplurt/code/modules/sprite_accessories/ears.dm
  modular_zzplurt/code/modules/sprite_accessories/frills.dm
  modular_zzplurt/code/modules/sprite_accessories/hair_head.dm
  modular_zzplurt/code/modules/sprite_accessories/horns.dm
  modular_zzplurt/code/modules/sprite_accessories/ipc_antennas.dm
  modular_zzplurt/code/modules/sprite_accessories/markings.dm
  modular_zzplurt/code/modules/sprite_accessories/neck_fluff.dm
  modular_zzplurt/code/modules/sprite_accessories/snouts.dm
  modular_zzplurt/code/modules/sprite_accessories/tails.dm
  modular_zzplurt/code/modules/sprite_accessories/taur.dm
  modular_zzplurt/code/modules/sprite_accessories/wings.dm
  modular_zzplurt/code/modules/storyteller/config.dm
  modular_zzplurt/code/modules/storyteller/gamemode.dm
  modular_zzplurt/code/modules/storyteller/storytellers/tellers/storyteller_0_extended.dm
  modular_zzplurt/icons/mob/sprite_accessories/32x64_mam_ears.dmi
  tgstation.dme
  tgui/packages/tgui-say/TguiSay.tsx
Labels: Sprites, Code, Requires Config Change, TGUI

#150 Automatic upstream updates
  .github/workflows/upstream_sync.yml
Labels: Github

#113 Porting over and refactoring cyborg and dogborg stuff
  code/__DEFINES/~~~splurt_defines/lewd_defines.dm
  code/__DEFINES/~~~splurt_defines/traits/declarations.dm
  code/game/objects/items/robot/items/storage.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  config/game_options.txt
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_zubbers/code/game/objects/items/robot/items/storage.dm
  modular_zzplurt/code/_helpers/preferences.dm
  modular_zzplurt/code/controllers/configuration/entries/fetish_content.dm
  modular_zzplurt/code/datums/components/vore/preferences.dm
  modular_zzplurt/code/datums/silicon_laws/laws_lewd.dm
  modular_zzplurt/code/game/objects/items/devices/cyborg_modules/dogborg_general_modules.dm
  modular_zzplurt/code/game/objects/items/devices/cyborg_modules/dogborg_pounce.dm
  modular_zzplurt/code/game/objects/items/devices/cyborg_modules/dogborg_sleepers.dm
  modular_zzplurt/code/game/objects/items/devices/cyborg_modules/general_modules.dm
  modular_zzplurt/code/game/objects/items/devices/cyborg_modules/inducer.dm
  modular_zzplurt/code/modules/cyborgs/dogborg_interactions.dm
  modular_zzplurt/code/modules/cyborgs/robot.dm
  modular_zzplurt/code/modules/cyborgs/robot_model.dm
  modular_zzplurt/code/modules/lewd/ooc_escaping.dm
  modular_zzplurt/code/modules/mob/living/carbon/human/dogborg_sleeper_overrides.dm
  modular_zzplurt/icons/mob/robot/dogborg.dmi
  modular_zzplurt/icons/mob/robot/robot_items.dmi
  modular_zzplurt/icons/mob/robot/robots.dmi
  modular_zzplurt/icons/mob/robot/widerobot.dmi
  tgstation.dme
  tgstation_unit_test_focus_file.dm
  tgui/packages/tgui/interfaces/DogborgSleeper.tsx
  tgui/packages/tgui/interfaces/VorePanel/GeneralPrefs.tsx
Labels: Sprites, Code, Requires Config Change, TGUI, Test Merged

#159 [UPSTREAM UPDATE] 27.2.2025
  code/__DEFINES/~~bubber_defines/span.dm
  html/changelogs/AutoChangeLog-pr-3167.yml
  html/changelogs/archive/2025-02.yml
  modular_skyrat/master_files/code/datums/components/damage_tracker.dm
  modular_zubbers/code/datums/quirks/neutral_quirks/hypnotic.dm
  modular_zubbers/code/datums/quirks/positive_quirks/venemous_bite/venomous_bite.dm
  modular_zubbers/code/datums/quirks/positive_quirks/venemous_bite/venomous_bite_quirk.dm
  modular_zubbers/icons/mob/actions/quirks/venomous_bite.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/hypnotic_quirk.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/bubbers/venomous_bite.tsx
Labels: Sprites, Code, TGUI

#139 [FIX] Adds in digitigrade variants for the coroner outfits.
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
  modular_zzplurt/code/modules/clothing/under/jobs/medical.dm
  modular_zzplurt/code/modules/species/xeno.dm
  modular_zzplurt/icons/mob/clothing/under/medical_digi.dmi
  tgstation.dme
Labels: Sprites, Code, Image, Test Merged
